
/* ticker.css version 1.0
 * VTC-6353
 */

.home_counter { 
	position: absolute; 
	margin-top: 13px; 
	right: 40px; 
	top: 0;
	width: 300px;
}

.counter_wrap {
	margin: 1px 0 5px; 
	padding: 3px 2px 3px 5px; 
	background: #1e5e74 url(../images/ticker/counter-module-bg.gif) repeat-x scroll left top;
}

.home_counter .numbers {
	height: 17px; 
	overflow: hidden; 
	position: relative;
}

.counter-number, .counter-block {
    height: 187px; /* height of this background-image */
    width: 13px; /* width of a number image */
    position: relative;
    background-image: url("../images/ticker/counter_ticker_bg.gif");
    float: left;
    margin-right: 2px;
}

.counter-block {
    height: 207px;
}

.counter-comma {
	width: 2px;
}

.home_counter .tagline { 
	font-weight: bold; 
	text-align: center; 
	text-transform: uppercase; 
	color: #99c8d7; 
	display: block; 
	font-size: 9px; 
	margin:0;
}






