<footer>
	<div class="wrap clearfix">
		<!--column-->
		<article class="one-fourth">
			<h3>ON<span class="bold">GO</span> ASIA.COM</h3>
			<p>7 Jalan Kilang<br/>
				Floor 7 Suite 01<br/>
				Singapore 159407</p>

			<p>Email: <a href="mailto:ask@ongoasia.com" title="ask@ongoasia.com">ask@ongoasia.com</a></p>
		</article>
		<!--//column-->
		
		<!--column-->
		<article class="one-fourth">
			<h3>Customer support</h3>
			<ul>
				<li><a href="#" title="Faq">Faq</a></li>
				<li><a href="#" title="How do I make a reservation?">How do I make a booking?</a></li>
				<li><a href="#" title="Payment options">Payment options</a></li>
				<li><a href="#" title="Booking tips">Booking tips</a></li>
			</ul>
		</article>
		<!--//column-->
		
		<!--column-->
		<article class="one-fourth">
			<h3>Follow us</h3>
			<ul class="social">
				<li class="facebook"><a href="#" title="facebook">facebook</a></li>
				<li class="rss"><a href="#" title="rss">rss</a></li>
				<li class="twitter"><a href="#" title="twitter">twitter</a></li>
				<li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
			</ul>
		</article>
		<!--//column-->
		
		<!--column-->
		<article class="one-fourth last">
			<h3>Don’t miss our exclusive offers</h3>
			<form id="newsletter" action="newsletter.php" method="post">
				<fieldset>
					<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
					<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
				</fieldset>
			</form>
		</article>
		<!--//column-->
		
		<section class="bottom">
			<p class="copy">Copyright 2013 Ongoasia.com. All rights reserved</p>
			<nav>
				<ul>
					<li><a href="#" title="About us">About us</a></li>
					<li><a href="contact.html" title="Contact">Contact</a></li>
					<li><a href="#" title="Partners">Partners</a></li>
					<li><a href="#" title="Customer service">Customer service</a></li>
					<li><a href="#" title="FAQ">FAQ</a></li>
					<li><a href="#" title="Careers">Careers</a></li>
					<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
					<li><a href="#" title="Privacy statement">Privacy statement</a></li>
				</ul>
			</nav>
		</section>
	</div>
</footer>