<div class="footer">
	<div class="line mtm">
		<div class="unit size-mod-ft-m fmr">
			<div class="mod basic viamod viamod-bar-ft man">
				<b class="top"><b class="tl"></b><b class="tr"></b> </b>
				<div class="inner">
					<div class="hd">
						<h4 class="category mbs">
							<i class="icon icon-arrow"></i>Links
						</h4>
					</div>
					<div class="bd">
						<div class="line mhm">
							<div class="unit size1of2">
								<ul class="small mtn mll">
									<li><a
										href="javascript:;"
										rel="nofolow" class="inverse-txt inverse-link">Low Price
											Guarantee</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Free
											Newsletters</a></li>
									<li><a href="javascript:;" rel="nofollow"
										class="inverse-txt inverse-link">Mobile Apps</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Gift
											Certificates</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Mileage
											Program</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Ongoasia Travel Blog</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Travel
											Links</a></li>
									<li><a href="javascript:;" rel="nofollow"
										class="inverse-txt inverse-link">Ongoasia Site Map</a></li>
								</ul>
							</div>
							<div class="unit size1of2">
								<ul class="small mtn mll">
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">About Us</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Customer
											Care</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Group
											Services</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Media
											Center</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Work with
											Ongoasia</a></li>
									<li><a
										href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Travel
											Agents</a></li>
									<li><a href="javascript:;"
										rel="nofollow" class="inverse-txt inverse-link">Your
											Privacy Rights</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<b class="bottom"><b class="bl"></b><b class="br"></b> </b>
			</div>
		</div>
		<div class="unit size-mod-ft-m fmr">
			<div class="mod basic viamod viamod-bar-ft man">
				<b class="top"><b class="tl"></b><b class="tr"></b> </b>
				<div class="inner">
					<div class="hd">
						<h4 class="category mbs">
							<i class="icon icon-arrow"></i>Destinations
						</h4>
					</div>
					<div class="bd">
						<div class="line mhm">
							<div class="unit size1of2">
								<ul class="small mtn mll">
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Amsterdam Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Dublin Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Florence Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Las Vegas Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">London Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Madrid Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Melbourne Tours</a></li>
								</ul>
							</div>
							<div class="unit size1of2">
								<ul class="small mtn mll">
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Tokyo Tours</a></li>
									<li><a href="javascript:;"
										class="inverse-txt inverse-link">Venice Tours</a></li>
									<li><a title="All destinations &raquo;"
										href="javascript:;" rel="nofollow"
										class="more-link inverse-link">All destinations &raquo;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<b class="bottom"><b class="bl"></b><b class="br"></b> </b>
			</div>
		</div>
		<div class="unit size-mod-ft-s fmr">
			<div class="mod basic viamod viamod-bar-ft man">
				<b class="top"><b class="tl"></b><b class="tr"></b> </b>
				<div class="inner">
					<div class="hd">
						<h4 class="category mbs">
							<i class="icon icon-arrow"></i>Sites
						</h4>
					</div>
					<div class="bd">
						<div class="mhm">
							<ul class="small mtn mll mrn">
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Shore Excursions</a></li>
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Private Tour Guides</a></li>
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Malaysia</a></li>
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Thailand</a></li>
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Vietnam</a></li>
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Indonesia</a></li>
								<li><a href="javascript:;"
									class="inverse-txt inverse-link">Campodia</a></li>
							</ul>
						</div>
					</div>
				</div>
				<b class="bottom"><b class="bl"></b><b class="br"></b> </b>
			</div>
		</div>
		<div class="unit size-mod-ft-s">
			<div class="mod basic viamod viamod-bar-ft man">
				<b class="top"><b class="tl"></b><b class="tr"></b> </b>
				<div class="inner">
					<div class="hd">
						<h4 class="category mbs">
							<i class="icon icon-arrow"></i>Connect
						</h4>
					</div>
					<div class="bd">
						<div class="line mts mhm">
							<a href="javascript:;" target="_blank"
								class="unit size1of3 no-hover mls"><i
								class="icon icon-connect-fb"></i><span class="hide-txt">Facebook</span>
							</a> <a href="javascript:;" target="_blank"
								class="unit size1of3 no-hover"><i
								class="icon icon-connect-twitter"></i><span class="hide-txt">Twitter</span>
							</a> <a href="javascript:;" target="_blank"
								class="unit size1of3 no-hover lastUnit"><i
								class="icon icon-connect-pinterest"></i><span class="hide-txt">Pinterest</span>
							</a>
						</div>
						<div class="line mtm mhm">
							<a href="javascript:;"
								target="_blank" class="unit size1of3 no-hover mls"><i
								class="icon icon-connect-youtube"></i><span class="hide-txt">YouTube</span>
							</a> <a href="javascript:;"
								target="_blank" class="unit size1of3 no-hover"><i
								class="icon icon-connect-google"></i><span class="hide-txt">Google
									Plus</span> </a> <a href="javascript:;"
								target="_blank" class="unit size1of3 no-hover lastUnit"><i
								class="icon icon-connect-rss"></i><span class="hide-txt">RSS</span>
							</a>
						</div>
						<h4 class="category mbs mtl">
							<i class="icon icon-arrow"></i>Mobile
						</h4>
						<div class="line mlm mbm mhm">
							<a href="javascript:;"
								class="unit no-hover mll mts"><i
								class="icon icon-mobile-apps mrn"></i><span class="hide-txt">Apps</span>
							</a>
						</div>
					</div>
				</div>
				<b class="bottom"><b class="bl"></b><b class="br"></b> </b>
			</div>
		</div>
	</div>
</div>

<div class="line mbl">
	<div class="unit size5of6">
		<div class="media">
			{{ theme:image file="logo_viator_footer.png" alt="Ongoasia logo"
			class="img" }}
			<div class="bd">
				<p class="xsmall note">
					1997-2012 <a href="javascript:;"
						class="inverse-link">Ongoasia, Inc.</a> 330249b All rights reserved.
					Ongoasia is a registered trademark of Ongoasia, Inc.<br> Use of
					this website constitutes acceptance of <a
						href="javascript:;"
						title="Ongoasia's Terms &amp; Conditions" class="inverse-link">Ongoasia's
						Terms &amp; Conditions</a>.
				</p>
			</div>
		</div>
	</div>
	<div class="unitRight size-mod-ft-s no-print">
		<div class="line">
			<a
				href="javascript:;"
				target="_blank" title="BBB Business Review">{{ theme:image
				file="logo_bbb.png" alt="BBB logo" class="unit mtm" }}</a> &nbsp; &nbsp;
			<a
				href="javascript:;"
				target="_blank" title="BBB Business Review">{{ theme:image
				file="icon_mcafee.png" alt="BBB logo" class="unit mtm" }}</a>
		</div>
	</div>
</div>