<header>
	<div class="wrap clearfix">
		<!--logo-->
		<h1 class="logo"><a href="{{ url:site uri='' }}" title="Book Your Travel - home">{{ theme:image file="txt/logo.png" alt="Book Your Travel" }}</a></h1>
		<!--//logo-->
		
		<!--ribbon-->
		<div class="ribbon">
			<nav>
				<ul class="profile-nav">
					{{ if user:logged_in }}
					<li class="active"><a href="{{ url:site uri='users' }}" title="Settings">Settings</a></li>
					<li><a href="{{ url:site uri='users/logout' }}" title="Log out">Log out</a></li>
					{{ else }}
					<li class="active only"><a href="login.html" title="Login">Login</a></li>
					{{ endif }}
				</ul>
				<ul class="lang-nav">
					<li class="active only"><a href="#" title="English (US)">English (US)</a></li>
				</ul>
				<ul class="currency-nav">
					<li class="active"><a href="#" title="$US Dollar">$US Dollar</a></li>
					<li><a href="#" title="€ Euro">€ Euro</a></li>
				</ul>
			</nav>
		</div>
		<!--//ribbon-->
		
		<!--search-->
		<div class="search" id="freeTextSearchDiv">
			<form action="{{ url:site uri='tour/search_keyword' }}" name="search"
			title="search" enctype="" method="get"
			onsubmit="return doFreeTextSearchSubmit('freeTextKeyword', '{{ url:site uri='tour/search_keyword' }}');">
				<div class="input-div">
					<input type="text" placeholder="Search entire site here" name="freeTextKeyword" 
						id="freeTextKeyword" 
						autocomplete="off" />
				</div>
				<input type="submit" name="submit" value="submit-site-search"/>
			</form>
		</div>
		<!--//search-->
		
		<!--contact-->
		<div class="slogan">
			<span>destinations on the go!</span>
		</div>
		<!--//contact-->
	</div>
	
	<!--main navigation-->
	<nav class="main-nav" role="navigation" id="nav">
		<ul class="wrap">
			<li><a href="{{ url:site uri='' }}" title="Home">Home</a></li>
			<li><a href="#" title="Offers &amp; Highlights">Offers &amp; Highlights</a></li>
			<li><a href="#" title="Destinations">Destinations</a></li>
			<li><a href="#" title="Tours">Tours</a></li>
			<li><a href="#" title="Attractions">Attractions</a></li>
			<li><a href="#" title="Products">Products</a></li>
			<li><a href="#" title="Stays">Stays</a></li>
			<li><a href="#" title="Partners">Partners</a></li>
			<li><a href="#" title="Blog">Blog</a></li>
			<li><a href="#" title="FAQ">FAQ</a></li>
		</ul>
	</nav>
	<!--//main navigation-->
</header>