<meta http-equiv="content-type" content="text/html; charset=UTF-8" />        
<title>Tours, sightseeing tours, activities &amp; things to do | Viator.com</title>

{{ theme:css file="reset.css" }}
{{ theme:css file="global.css" }}
{{ theme:css file="components.css" }}
{{ theme:css file="openit.css" }}
{{ theme:css file="highslide.css" }}
{{ theme:css file="nyroModal.css" }}
{{ theme:css file="screen.css" }}

<!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="screen" href="/wayfinder/css/ie7.css?v=ATLAS_2.1.0.222-20121113" media="screen" />
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="/wayfinder/css/ie8.css?v=ATLAS_2.1.0.222-20121113" media="screen" />
<![endif]-->
<!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="screen" href="/wayfinder/css/ie9.css?v=ATLAS_2.1.0.222-20121113" media="screen" />
<![endif]-->

{{ theme:css file="ticker.css" }} 

{{ theme:js file="all_002.js" }}
{{ theme:js file="jquery_core.js" }}
{{ theme:js file="jquery-ui.js" }}
{{ theme:js file="jquery.js" }}
{{ theme:js file="jquery_002.js" }}
{{ theme:js file="jquery_003.js" }}
{{ theme:js file="jquery_004.js" }}
{{ theme:js file="jquery_slides_min.js" }}
{{ theme:js file="console.js" }}
{{ theme:js file="all.js" }}