<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
<head>{{ theme:partial name="metadata" }}
</head>
<body>
	{{ theme:partial name="header" }}
	<div class="clear"></div>
	{{ template:partial name="home_slider" }}
	<div class="content">
		{{ template:partial name="left_sidebar" }}
		<div class="main-col two-cols component">
			{{ template:body }} 
		</div>
	</div>
	{{ theme:partial name="footer" }}
</body>
</html>
