<div class="header content">
	{{ if user:logged_in }}
	<div class="login-text">
		Hi, <a href="{{ url:site uri='users' }}">{{
			user:first_name }} {{ user:last_name }}</a> <a
			href="{{ url:site uri='users/logout' }}">{{ helper:lang
			line="logout_label" }}</a>
	</div>
	{{ else }}
	<div class="login-text with-bg">
		<a href="{{ url:site uri='users/login' }}">{{ helper:lang
			line="user_login_btn" }}</a> <a href="{{ url:site uri='register' }}">{{
			helper:lang line="user_register_btn" }}</a>
	</div>
	{{ endif }}

	<div class="search-bar">
		<div class="label">SEARCH</div>
		<form action="{{ url:site uri='tour/search_keyword' }}" name="search"
			title="search" enctype="" method="get"
			onsubmit="return doFreeTextSearchSubmit('freeTextKeyword', '{{ url:site uri='tour/search_keyword' }}');">
			<div class="input-div">
				<input name="freeTextKeyword" size="16" maxlength="50"
					id="freeTextKeyword" type="text"
					autocomplete="off" />
			</div>
			<input name="submit" value="GO!"
				title="Search Ongoasia Tours &amp; Things to Do" type="submit"
				class="btn" />
		</form>
	</div>

	<div class="travel-cart">
		<a rel="nofollow" href="{{ url:site uri='' }}">TRAVEL CART</a> <a
			rel="nofollow" href="{{ url:site uri='' }}" 
			id="shopCartCount">0</a>
	</div>
	
	<div class="clear"></div>
</div>