<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="HandheldFriendly" content="True">
<title><?php echo $title;?></title>
{{ theme:css file="style.css" media="screen,projection,print" }}
{{ theme:css file="prettyPhoto.css" media="screen"}}
{{ theme:css file="custom.css" media="screen,projection,print" }}
{{ theme:css file="favicon.ico" rel="shortcut icon"}}
{{ theme:js file="jquery.min.js" }}
{{ theme:js file="jquery-ui.min.js" }}
{{ theme:js file="css3-mediaqueries.js" }}
{{ theme:js file="sequence.jquery-min.js" }}
{{ theme:js file="jquery.uniform.min.js" }}
{{ theme:js file="jquery.prettyPhoto.js" }}
{{ theme:js file="sequence.js" }}
{{ theme:js file="selectnav.js" }}
{{ theme:js file="scripts.js" }}
<script type="text/javascript">
	var APPPATH_URI					= "<?php echo APPPATH_URI;?>";
	var SITE_URL					= "<?php echo rtrim(site_url(), '/').'/';?>";
	var BASE_URL					= "<?php echo BASE_URL;?>";
	var BASE_URI					= "<?php echo BASE_URI;?>";
</script>
{{ template:metadata }}
<script type="text/javascript">	
	$(document).ready(function(){
		$(".form").hide();
		$(".form:first").show();
		$(".f-item:first").addClass("active");
		$(".f-item:first span").addClass("checked");
	});
</script>