/* --------------------------------------------------------------
   openit.css
   Created on 10 March 2010, 10:23
   @author Viggy Chaowei Tao
-------------------------------------------------------------- */


html {min-height:100.1%;} /* ff3 scroll bar bug */

.popup_container { text-align: left; z-index: 1; }
.popup_container label.validation { background-color: transparent; color: #CE2B1A; }

.popup_content { margin: 10px auto; background-color: #ffffff; width: 600px; }
.popup_logo { background: transparent url(../images/general/logo_viator_popup.gif) no-repeat scroll 0 0; margin: 0; padding: 0; width: 100%; }
.popup_header { background: #006181 url(../images/general/bg_popup_blue.gif) repeat-x 0 0; position: relative; z-index: 999999}
.popup_header h1 {  color: #FFFFFF; margin: 0; padding: 16px 10px 15px 110px; font-size: 20px; }

.popup_content .intro { border-bottom: 1px solid #CAE6EE; padding: 0; margin: 0 0 10px 0; }
.popup_content .intro h2 { margin-bottom: 10px; }
.popup_footer { color: #ffffff; background: #006181 url(../images/general/bg_popup_blue.gif) repeat-x 0 0; }
.popup_body { padding: 10px; }

.column_head { background: url("../images/general/bg_content_column_head_top.gif") no-repeat scroll 0 0 #8E867D; border-top: 1px solid #ffffff; }
.column_head .thingstodo_item { color: #ffffff; border: 0 none; }
.column_head .thingstodo_item .short_text { width: 400px; }
.column_head .thingstodo_item .clause { font-size: 12px; }
.column_head .thingstodo_item .clause strong { text-transform: uppercase; float: left; /*width: 120px;*/ margin: 0 10px 0 0; }
.column_head .thingstodo_item h2 { color: #ffffff; padding-bottom: 10px; font-size: 21px; font-weight: bold; }
.column_head .thingstodo_item h2 a { color: #ffffff; }
.column_head .thingstodo_item h2.content_desc { color: #FDAF4B; font-weight: bold; font-size: 14px; text-transform: uppercase; }

.miniphoto { margin-bottom: 20px; }
.miniphoto_tr { padding: 0 10px 0 0; background: #e0eff4 url(../images/general/miniphoto_tr.gif) no-repeat scroll right top; }
.miniphoto_tl { padding: 10px 5px 0 10px; background: #e0eff4 url(../images/general/miniphoto_tl.gif) no-repeat scroll left top; min-height: 150px; height: auto !important; height: 150px; }
.miniphoto_br { padding: 0 10px 0 0; background: #e0eff4 url(../images/general/miniphoto_br.gif) no-repeat scroll right bottom; }
.miniphoto_bl { padding: 0 0 0 10px; background: #e0eff4 url(../images/general/miniphoto_bl.gif) no-repeat scroll left bottom; }
.miniphoto_tl p { padding: 0 0 0 170px;}

/* Recapcha popup
-------------------------------------------------------------- */
.recapchapopup { width: 350px; }
.recapchapopup .info input { padding: 5px; width: 188px; }
.recapchapopup .info img { float: left; }
.recapchapopup .info a { float: left; padding: 8px; }
.recapchapopup .atlas_pop_body { border: 0 none; }

/* Photo enlarge popup
-------------------------------------------------------------- */
.popup_container .photo_entry { border: 0; }
.popup_container .photo_entry .image_title { color: #00759a; font-size: 24px; font-weight: bold; margin-bottom: 0; line-height: 1.2; }
.popup_container .photo_entry .author { text-align: left; }


/* Destination email popup
-------------------------------------------------------------- */
.dest_signup { background-color: #f2f1ef; width: 500px; margin: 10px auto; border-top: 1px solid #CAE6EE; border-bottom: 1px solid #CAE6EE; padding: 15px; }
.dest_signup h2 { width: 380px; clear: none; float: left; color: #00759A; font-size: 21px; font-weight: bold; padding-left: 10px; }
.dest_signup h2 img { vertical-align: middle; }
.dest_signup em { color: #CE2B1A; font-weight: bold; }
.dest_signup p { clear: both; margin: 0; padding: 3px 10px; }
.dest_signup p.note { padding: 10px; text-align: right; }
.dest_signup label { float: left; padding: 2px 5px 0 0; width: 85px; text-align: right; }
.dest_signup select { float: left; width: 240px; }
.dest_signup input.checkbox { border: 0; margin-left: 0; padding: 0; }
.dest_signup .email_address { background-color: #FBF0E8; float: left; width: 234px; }

.dest_signup .description { padding-bottom: 15px; }
.dest_signup .agree_news { padding-left: 20px; text-align: right; padding-right: 20px; }
.dest_signup .agree_news label { font-weight: normal; float: none; padding: 0; }

.dest_signup .btn { float: right; padding-right: 10px; margin-left: 5px; background: transparent url(../images/general/btn_blue.gif) no-repeat left center; }
.dest_signup .btn button { padding: 0 15px 0 0; }
.dest_signup .close { float: right; padding-right: 0; }


/* Atlas Itinerary Popup
-------------------------------------------------------------- */
.itinerary_popup .column_head { position: relative; padding: 10px 15px; color: #ffffff; }
.itinerary_popup .column_head h2 { color: #FFFFFF; font-size: 21px; font-weight: bold; padding-bottom: 10px; }
.itinerary_popup .column_head .product_price { color: #ffffff; right: 15px; }
.itinerary_popup .column_head a { color: #ffffff; text-decoration: underline; }
.itinerary_popup .column_head a:hover { text-decoration: none; }
.itinerary_popup .thingstodo_item h2 { font-size: 18px; color: #004D67; }
.itinerary_popup .thingstodo_item .total { color: #e37222; font-size: 14px; }
.itinerary_popup .thingstodo_item.last { border: 0 none; }
.itinerary_popup .itinerary_total { border-top: 1px solid #CAE2EA; padding: 10px 0; }
.itinerary_popup .itinerary_total .product_price { position: static; float: right; }


/* Change currency and Price guide popup
-------------------------------------------------------------- */
.popup_currency { padding: 10px 0; background-color: #F2F1EF; }
.popup_currency .currency { width: 130px; margin: 0 auto; }

.pricing_popup .popup_content { width: 100%; }
.pricing_popup .intro { text-align: center; }

.pricing_table table { border-collapse: collapse; border: 0 none; margin: 0 auto; text-align: left; }
.PricingGridHeader { border-right: 0 none; }
.PricingGridYHeader { border-left: 1px solid #dddddd; }
.PricingGridYSortField1 { border-left: 1px solid #dddddd; }
.pricing_popup .note { font-style: normal; font-size: 12px; text-align: center; }

.email_silverpop { padding: 10px; border-top: 1px solid #E0DBD5; border-bottom: 1px solid #E0DBD5; background-color: #F2F1EF; }
.email_silverpop p { margin: 0; padding: 2px 0; }
.email_silverpop select { float: left; width: 250px; margin: 0; }
.email_silverpop label { padding-top: 2px; float: left; width: 65px; }
.email_silverpop .btn { margin-top: -29px; float: right; background: transparent url(../images/general/btn_orange_alt.gif) no-repeat scroll left center; height: 29px; padding-bottom: 3px; width: 111px; }
.email_silverpop .btn button { font-weight: bold; height: 29px; padding-left: 13px; text-align: left; width: 111px; }


/* Clever set hover over
-------------------------------------------------------------- */
.popup_container .top_picks { width: 455px; }
.popup_container .top_picks .product { border: 0; background: transparent url(../images/general/bg_top_picks_popup.png) no-repeat scroll left top;}
.popup_container .top_picks .product h2 { padding-bottom: 0; }
.popup_container .top_picks .star_rating { margin-bottom: 5px; }
.popup_container .top_picks p { margin-top: 5px; }
.popup_container .top_picks .describe { font-size: 11px; margin: 0; }
.popup_container .top_picks .bg_foot { width:100%; height:35px; margin: 0; background: transparent url(../images/general/bg_top_picks_popup.png) no-repeat scroll -463px bottom; }

/*  hack for IE6, will probably use this for IE7 also   */
.popup_container .top_picks div.product {
    _z-index:20;
    _background-image:none;
    _width:430px;
    _position:relative;
}
.popup_container .top_picks div.bg_foot {
    _background-image: none;
    _height:46px;
    _width: 460px;
}
.popup_container .top_picks div.bullshit_IE_fix {
    display:none !important;
    _display:block;
    _position:absolute;
    _width:460px;
    _height:183px;
    _top:0;
    _left:0;
}


/* Map show
-------------------------------------------------------------- */
.map_show .popup_content { width: 100%; }
.map_show .section { text-align: center; }


/* Weather
-------------------------------------------------------------- */

.weather .popup_content { width: 650px; }
.weather h2 { float: left; margin: 10px 10px 10px 0; }
.weather table { clear: both; }
.weather_provider { text-align: left; padding: 10px 0 0 10px; }
.weather_provider img { vertical-align: middle; }
.weather_units { margin-top: 5px; }

.weather th { color: #00759A; text-align: center; vertical-align: middle; background: #FFFFFF url(../images/general/bg_search_result.gif) repeat-x left top; }
.weather td { text-align: right; vertical-align: top; }
.weather td.day, #weather td.desc { text-align: left; }
.weather td.day { background-color: #F2F1EF; font-weight: bold; text-align: center; vertical-align: middle; }
.weather td.desc { width: 200px; }
.weather td.desc img { float: left; }
.weather td.desc span {display: block; float: right; width: 145px; }
.weather td.uv_index { text-align: center; }

/* Price Guide
-------------------------------------------------------------- */
.popup_content.notourgrade { width: 660px; }
.popup_content.notourgrade .price_calendar_content { background: none; }
.priceguide_container { width: 800px; text-align: left; }
.priceguide_container select,
.priceguide_container label { cursor: pointer; }
.priceguide_container .helplink { font-size: 11px; text-decoration: underline; }
.priceguide_container .helplink:hover { text-decoration: none; }
.priceguide_container .titleheader { font-size: 12px; font-weight: bold; margin-bottom: 5px; }

/* se - need to clean this up */
.priceguide_header { color: #fff; background-color: #007093; }
.priceguide_header h1 { margin-top: 10px; clear: none; float: left; width: 670px; color: #fff; padding: 7px 10px; font-size: 18px; letter-spacing: 0; font-weight: normal; }
.priceguide_header h2 { clear: none; float: left; width: 670px; color: #fff; padding: 7px 10px; font-size: 12px; letter-spacing: 0; }
.priceguide_header img { float: left; }

.priceguide_body { background: #f2f1ef url(../images/priceguide/priceguide_inner.gif) repeat-y right top; }
.priceguide_left { float: left; width: 189px; }
.priceguide_left .selectheader { font-weight: bold;  padding: 10px; margin: 0; }
.touroption { margin: 0; list-style-type: none; }
.touroption li { min-height: 30px; height: auto !important; height: 30px; line-height: 1.2; font-size: 11px; font-weight: bold; padding: 5px 5px 5px 10px; background: transparent url('../images/priceguide/dot.gif') no-repeat 10px 10px; }
.touroption li.selected { background: transparent url(../images/priceguide/arrow_left.jpg) no-repeat left center; border-top: 1px solid #e0dbd5; border-bottom: 1px solid #e0dbd5; background-color: #fff; }
.touroption li a { padding-left: 10px; display: block; }

/* Pricing Calendar */
.price_calendar .tools_topnav { background-color: transparent; float: none; position: absolute; right: 0; top: 15px; z-index: 10; }
.price_calendar .bbborder_top_right { background: url(../images/general/bborder_top_right_dark.gif) no-repeat scroll right top #FFFFFF; }
.price_calendar .bbborder_top_left { background: url(../images/general/bborder_top_left_dark.gif) no-repeat scroll left top #FFFFFF; }
.price_calendar .popup_body { padding: 0; }

.price_calendar .popup_content { width: 865px; }
.price_calendar .popup_content.notourgrade { width: 705px; }
.price_calendar_content { background: transparent url(../images/priceguide/priceguide_lhsBG.gif) repeat-y left top; }


/* Calendar normal day
------------------------------------------------------------------------*/
.calendardate .daterow a { border: 1px solid #E0DBD5;  height: 80px; margin-bottom: 1px; margin-right: 1px; padding: 5px; text-align: right; /*width: 86px; */position: relative; display:block;}
.calendardate .daterow a:hover { background-color: #E8F6F9; cursor: pointer; text-decoration: none; border-color: #00759a; }
.calendardate .daterow .date-num { line-height: 1; font-size: 1.7em; font-weight: bold; }
.calendardate .daterow .date-cell-info { color: #333333; bottom: 5px; display: block; position: absolute; right: 5px; font-weight: normal;  }
.calendardate .daterow .price-amount { font-size: 18px; font-weight: bold; text-transform: none; }
.calendardate .daterow .pricingdetails { font-size: 11px; color: #00759A; font-weight: normal; text-decoration: underline; line-height: 1.2; text-transform: none; }

/* Calendar blank day
------------------------------------------------------------------------*/
.calendardate .daterow a.blank { cursor: default; background-color: #ffffff; border: 1px solid #ffffff; }
.calendardate .daterow a.blank:hover { cursor: default; border: 1px solid #ffffff; }

/* Calendar not avaibale day
------------------------------------------------------------------------*/
.calendardate .daterow a.na { cursor: default; background-color: #dfd8d0; border: 1px solid #dfd8d0; color: #8f8880; }
.calendardate .daterow a.na:hover { cursor: default; }
.calendardate .daterow a.na { color: #999999; }
.calendardate .daterow .na .date-cell-info{ right: 0; padding: 0 10px; color: #999999; text-align: center; line-height: 1.3; text-transform: uppercase; }

/* Calendar last minute day
------------------------------------------------------------------------*/
.calendardate .daterow a.lm { cursor: default; background-color: #ffffff; border: 1px solid #E0DBD5; }
.calendardate .daterow a.lm:hover { cursor: default; }
.calendardate .daterow a.lm strong { line-height: 1.2; }
.calendardate .daterow a.lm strong .phone { color: #d73722; font-size: 11px; padding: 3px 0 0 0; }


/* Calendar selected day
------------------------------------------------------------------------*/
.calendardate .daterow a.selected { background-color: #F58025; color: #FFFFFF; }
.calendardate .daterow a.selected em { color: #FFFFFF; }
.calendardate .daterow a.selected strong { color: #FFFFFF; }
.calendardate .daterow a.selected { color: #ffffff;  background-color: #F58025; border: 1px solid #F58025; }
.calendardate .daterow a.selected:hover { cursor: default; }

/* Price Calendar
------------------------------------------------------------------------*/
.tour_summary { float: right; width: 705px; }
.tour_options { float: left; width: 160px; }

.tour_options p {
    font-weight: bold;
    padding: 5px 13px 0;
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    background: transparent url(../images/priceguide/tour_options_headerBG.gif) no-repeat top right;
    height: 49px;
}

.tour_options ul{
    margin: 0;
    list-style: none;
}

.tour_options li {
    line-height: 1.4;
    margin-bottom: 6px;
    margin-left: 7px;
}

.tour_options li span {
    background: transparent url(../images/priceguide/touroption_item_top.gif) no-repeat top left;
    padding-top: 5px;
    display: block;
}

.tour_options li a{
    display: block;
    padding: 5px 20px 10px 10px;
    color: #333;
    font-size: 11px;
    background: transparent url(../images/priceguide/touroption_item_bottom.gif) no-repeat bottom left;
    cursor: pointer; position: relative;
}

.tour_options li a strong {
    text-transform: none;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 5px;
}

.tour_options li a:hover{
    text-decoration: none;
    color: #333;
}

.tour_options li.selected {
    margin-left: 5px;
    background: transparent url(../images/priceguide/touroption_itemselect_top.gif) no-repeat top left;
    zoom: 1;
}

.tour_options li.selected span{
    background: transparent url(../images/priceguide/arrow_left.jpg) no-repeat center right;
}

.tour_options li.selected a{
    background: transparent url(../images/priceguide/touroption_itemselect_bottom.gif) no-repeat bottom left;
    padding-left: 12px;
}
.tour_options li.selected a:hover {
    background: transparent url(../images/priceguide/touroption_itemselect_bottom.gif) no-repeat bottom left;
}

.tour_options li strong{
    font-weight: bold;
    display: block;
    color: #00759A;
}

.tour_options li.first{
    border-top: 0;
}

.priceguide, .passengers { width: 496px; margin-left: 2px; }
#passengers { width: 500px; text-align: left; background-color: #00759a; }
#passengers h1 { width: 200px; padding: 10px 0 0; margin: 0; }
.passengers_header { float: left; color: #fff; font-size: 11px; }
.passengers_header a { color: #fff; }
.passengers_header h3 { color: #fff; font-size: 14px; font-weight: bold; line-height: 1.5; width: 350px; float: left; }
.passengers_header p { margin-left: 5px;}
.passengers_header .close { position: absolute; top: 5px; right: 5px; width: 15px; }
.passengers_header .close a { text-indent: -9999px; background: transparent url(../images/priceguide/close_popup.gif) no-repeat top left; display: block; height: 16px; width: 15px; }
.passengers_body h4 { font-size: 12px; padding: 0 0 5px; }
.pricing_table { width: 100%; margin: 10px 0; }
* html .pricing_table { width: 99%; }
*:first-child+html .pricing_table { width: 99%; }

* html .topieborder th { border-top: 1px solid #dddddd; }
* html .topieborder th.emptycell { border-left: 1px solid #dddddd; }
* html .row_label { border-left: 1px solid #dddddd; }

.passengers_body { background-color: #fff; margin: 0; padding: 10px; }
.passengers_body label span { font-weight: normal; font-size: 11px; color: #666; }
.passengers_body .expand_age { margin-left: 35px; }
.passengers_body .expand_age label { font-size: 11px; font-weight: normal; width: 110px; display: block; float: left; }
.passengers_footer { background-color: #fff; margin: 0; border-top: 1px solid #d7d7d7; padding: 5px 5px 5px 10px; }
.passengers_footer .btn { background:transparent url(../images/general/btn_orange.gif) no-repeat scroll left center; float:right; height:29px; padding-bottom:3px; width:111px; }
.passengers_footer .btn button { width:111px; text-align: left; padding-left: 12px; }
.passengers_footer p { float: left; width: 50%; margin-bottom: 0; margin-top: 5px; }
.passengers_footer a { font-size: 11px; text-decoration: underline; }
.passengers_footer a:hover { text-decoration: none; }
.passengers_footer span { padding: 6px 5px 0 0; float: right; width: 130px; text-align: right; }

.priceguide_main { float: left; width: 610px; }
.priceguide_main .product_price { position: static; float: right; }

.priceguide_grid { border-bottom: 1px solid #e0dbd5; }
.bigcalendar { float: left; width: 150px; padding: 10px; text-align: center; }
.pricegrid { float: left; width: 420px; padding: 5px 10px; }

.bigcalendar p { font-size: 11px; text-align: center; line-height: 1.3; }
.bigcalendar p span { font-weight: bold; display: block; }
.calendarbox { height: 115px; color: #fff; font-weight: bold; background: transparent url('../images/priceguide/bg_singlecalendar.jpg') no-repeat 34px 0; }
.calendarbox .day { margin: 0; padding: 5px 0 15px 0; }
.calendarbox .date { font-size: 44px; line-height: 1; }
.calendarbox .date span { font-size: 22px; text-transform: uppercase; }

.gridbox { border-left: 1px solid #B7B7B7; border-top: 1px solid #B7B7B7; border-bottom: 1px solid #B7B7B7; }
.gridbox p { margin: 0; border-bottom: 1px solid #e0dbd5; }
.gridbox .gridheader { font-weight: bold; line-height: 1.2; border-bottom: 1px solid #b7b7b7; }
.gridbox .gridheader span { height: 45px; }
.gridbox span { padding: 3px; border-right: 1px solid #b7b7b7; float: left; width: 75px; text-align: right; }
.gridbox span em { font-weight: normal; font-size: 11px; display: block; color: #777777; font-style: normal; }
.gridbox .num { width: 84px; text-align: center; }
.gridbox .last { border: 0 none; }

.simple_grid span { width: 321px; }
.simple_grid .gridheader span { height: 30px; }

.calendar-month { background-color: #287599; width: 168px; margin: 0 auto; /*padding: 1px;*/}
.calendar-header {background-color: #287599; margin: 1px;}
.calendar-sub-header {background-color: #53b1ce; /*margin: 0 1px 1px; *margin: 0; border: 1px solid #287599;*/*border: 0;}
.date-cell {display: block;  height: 21px; line-height: 21px; margin: 1px; width: 22px; background-color: #FFFFFF;}
.date-cell-avail:hover { background-color: #194D65; color: #fff;}
.date-cell-selected {background-color: #db6e2a; color: #fff; font-weight: bold; }
.date-cell-na { background: #3e83a3 url(../wayfinder/images/calendar-na.png) no-repeat scroll center center; text-indent: -9999px; }
.date-cell-blank {background-color: #287599;}

.priceguide_footer { background: transparent url(../images/general/bg_popup_blue.gif) repeat-x scroll left center; border-top: 1px solid #00759A; height: 50px; }
.priceguide_footer .close { text-align: right; }
.priceguide_footer .close img { float: right; padding-right: 10px; }

.simplegrid .touroption_descip { width: 420px; }
.simplegrid .selectpax { width: 591px; }
.complexgrid .selectpax { width: 591px; }

.date-carousel {position: relative; width: 560px; margin: 0 auto 20px;}
.date-carousel .rev {position: absolute; top: 58px; left: -15px; z-index: 3; border: 0;}
.date-carousel .fwd { position: absolute; top: 58px; right: -15px; z-index: 3; border: 0; }
.date-carousel li { float: left; width: 80px; }
.date-carousel a{display: block; border: 0; }
.date-carousel a:hover { text-decoration: none;  }
.date-carousel .day { background-color: #53B1CE; color: #fff; font-weight: bold; font-size: 11px; text-align: center; margin: 0; padding: 5px 0; border: 1px solid #E0EFF4; border-bottom: 0; }
.date-carousel .date { background-color: #ffffff; color: #00759a; border: 1px solid #E0EFF4; border-top: 0; padding: 15px 5px 10px 5px; margin: 0; text-align: center; font-size: 35px; line-height: 1; }
.date-carousel .na { background: #f0f7fa url(../wayfinder/images/calendar-na-large.png) no-repeat scroll center center;  text-indent: -9999px; height: 66px; }
.date-carousel .loading { background: #ffffff url(../images/general/loading.gif) no-repeat scroll center center;  text-indent: -9999px; height: 66px; }
.date-carousel  .month { display: block; font-size: 18px; text-transform: uppercase; }
.date-carousel  .year { display: block; font-size: 14px; text-transform: uppercase; }

.date-carousel .current .day, .date-carousel .current .day:hover { background-color: #c15c2d; }
.date-carousel .current .date, .date-carousel .current .date:hover { background-color: #DB6E2A; color: #fff; font-weight: bold; }
.date-carousel .date-avail:hover {background-color: #194D65; color: #fff;}

.tour-option-na { background-color: #f7f7f6; }
.tour-option-na .product-summary { background: transparent url(../wayfinder/images/calendar-na-large.png) no-repeat scroll right 10px; }
.na-txt {color: #b3b3b3;}

.pricequote { width: 500px; background-color: #004f69; padding-top: 2px; padding-bottom: 2px;}
.pricequote .priceguide_body { background: #ffffff no-repeat none; padding: 10px; }

.passengers .priceguide_header h1 { width: 300px; padding-bottom: 0; padding-left: 5px; }
.passengers .priceguide_header .passengers_header h1 { width: 370px; margin: 8px 0; padding: 8px 0; }
.passengers .priceguide_header .passengers_header h1 span { display: block; font-size: 12px; font-weight: normal; padding: 5px 0 0 0; }

.lpgbtn .lpg { float: right; margin: 8px 3px; }

/* Map popup detail
-------------------------------------------------------------- */
.mappopup_item { text-align: left; width: 500px; font-family: 'Arial','Helvetica','Verdana',sans-serif; }
.mappopup_item h2 { padding: 0 0 5px 0; }
.mappopup_item .photo_sd_box { float: left; width: 170px; }
.mappopup_item .left { float: left; width: 300px; }
.mappopup_item .left .links { padding: 0 0 5px 0; display: block; }
.mappopup_item .pagetop_list { margin: 0; text-align: left; }
.mappopup_item .pagetop_list strong { text-transform: uppercase; float: left; width: 90px; }
.mappopup_item .pagetop_list span { float: left; width: 190px; }
.mappopup_point { margin-top: -1px; height: 23px; background: transparent url(../images/general/mappopup_point.gif) no-repeat scroll 20px 0; }


/* Show the mods Popup
-------------------------------------------------------------- */
#showthemods_popup {  width: 520px; background-color: #fff;  padding: 10px 0;}
#showthemods_popup h2 { color: #7b7874; font-weight: bold; padding: 30px 30px 15px; font-size: 18px; text-align: left; margin: 0; }
#showthemods_popup p { font-size: 14px; padding-right: 270px; }
#showthemods_popup p.intro { padding-right: 160px; }
#showthemods_popup .btn_box { padding-top: 25px; margin: 0; }
#showthemods_popup .atlas_btn_big { background-image: url(../images/general/atlas_btn_w_big_sitebg.gif); padding-bottom: 10px; margin: 0; }
#showthemods_popup .atlas_btn_big button { width: 250px; background-image: url(../images/general/atlas_btn_w_big_sitebg.gif);}
#showthemods_popup .close {background: transparent url(../images/general/icon_close_popup_sitebg.gif) no-repeat 0 7px; padding: 5px 20px; margin-bottom: 0; }
.showthemods_body { background: #E0DBD5 url(../images/memberonly/popup_bubble.jpg) no-repeat 240px 30px; padding: 0 0 20px 30px; }
.showthemods_popup_inner { background-color: #E0DBD5; height: auto; width: 500px; margin: 0 10px; }

.atlas_pop .localpickup .hotelpickup { position: relative; }
.atlas_pop .localpickup input { margin: 0; padding: 5px 25px 5px 5px; }
.atlas_pop .localpickup .remove { position: absolute; top: 33px; right: 8px; height: 20px; }
.atlas_pop .localpickup input.unavailable { color: #999999; }


/* Clearing
-------------------------------------------------------------- */
.popup_body:after,
.form p:after,
.form p .object:after,
.form:after,
.column_head:after,
.miniphoto:after,
.miniphoto_bl:after,
.mod_traveler .popup_content:after,
.popup_footer:after,
.price_avail:after,
.price_calendar_content:after,
.passengers_body:after,
.passengers_footer:after,
.priceguide_header:after,
.priceguide_body:after,
.priceguide_top:after,
.priceguide_grid:after,
.gridbox p:after,
.priceguide_book:after,
.calendardate p:after,
.cal_monthyear:after,
.cal_date:after,
.cal_day:after,
.paxitem:after,
.paxitemage:after,
.calendarlist:after,
.touroptions:after,
.touroptions .selectdate:after,
.lpgbtn:after,
.pricequoteheader p:after,
.pricequote .quotelist p:after,
.priceguide_footer:after,
.submitreview .info p:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.popup_body,
.form p,
.form p .object,
.form,
.column_head,
.miniphoto,
.miniphoto_bl,
.mod_traveler .popup_content,
.popup_footer,
.price_avail,
.price_calendar_content,
.passengers_body,
.passengers_footer,
.priceguide_header,
.priceguide_body,
.priceguide_top,
.priceguide_grid,
.gridbox p,
.priceguide_book,
.calendardate p,
.cal_monthyear,
.cal_date,
.cal_day,
.paxitem,
.paxitemage,
.calendarlist,
.touroptions,
.touroptions .selectdate,
.lpgbtn,
.pricequoteheader p,
.pricequote .quotelist p,
.priceguide_footer,
.submitreview .info p { display: inline-block; }

* html .popup_body,
* html .form p,
* html .form p .object,
* html .form,
* html .column_head,
* html .miniphoto,
* html .miniphoto_bl,
* html .mod_traveler .popup_content,
* html .popup_footer,
* html .price_avail,
* html .price_calendar_content,
* html .passengers_body,
* html .passengers_footer,
* html .priceguide_header,
* html .priceguide_body,
* html .priceguide_top,
* html .priceguide_grid,
* html .gridbox p,
* html .priceguide_book,
* html .calendardate p,
* html .cal_monthyear,
* html .cal_date,
* html .cal_day,
* html .paxitem,
* html .paxitemage,
* html .calendarlist,
* html .touroptions,
* html .touroptions .selectdate,
* html .lpgbtn,
* html .pricequoteheader p,
* html .pricequote .quotelist p,
* html .priceguide_footer,
* html .submitreview .info p { height: 1%; }

.popup_body,
.form,
.form p,
.form p .object,
.column_head,
.miniphoto,
.miniphoto_bl,
.mod_traveler .popup_content,
.popup_footer,
.price_avail,
.price_calendar_content,
.passengers_body,
.passengers_footer,
.priceguide_header,
.priceguide_body,
.priceguide_top,
.priceguide_grid,
.gridbox p,
.priceguide_book,
.calendardate p,
.cal_monthyear,
.cal_date,
.cal_day,
.paxitem,
.paxitemage,
.calendarlist,
.touroptions,
.touroptions .selectdate,
.lpgbtn,
.pricequoteheader p,
.pricequote .quotelist p,
.priceguide_footer,
.submitreview .info p { display: block; }
