html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.line, .lastUnit { overflow: hidden; *overflow: visible; *zoom: 1; }

.unit { float: left; }

.unitRight { float: right; }

.size1of1 { float: none; }

.size1of2 { width: 50%; }

.size1of3 { width: 33.33333%; }

.size2of3 { width: 66.66666%; }

.size1of4 { width: 25%; }

.size3of4 { width: 75%; }

.size1of5 { width: 20%; }

.size2of5 { width: 40%; }

.size3of5 { width: 60%; }

.size4of5 { width: 80%; }

/* Allow grid divisions of 1/6 etc. */
.size1of6 { width: 16.6666666%; }

.size5of6 { width: 83.3333333%; }

/* Allow grid divisions of 1/7 etc. */
.size1of7 { width: 14.2857143%; }

.size2of7 { width: 28.5714286%; }

.size3of7 { width: 42.8571429%; }

.size4of7 { width: 57.1428572%; }

.size5of7 { width: 71.4285715%; }

.size6of7 { width: 85.7142858%; }

.size1of8 { width: 12%; }

.size2of8 { width: 25%; }

.size3of8 { width: 37.5%; }

.size4of8 { width: 50%; }

.size5of8 { width: 62.5%; }

.size6of8 { width: 75%; }

.size7of8 { width: 88%; }

.size1of9 { width: 11.1111111%; }

.size2of9 { width: 22.2222222%; }

.size3of9 { width: 33.3333333%; }

.size4of9 { width: 44.4444444%; }

.size5of9 { width: 55.5555555%; }

.size6of9 { width: 66.6666666%; }

.size7of9 { width: 77.7777777%; }

.size8of9 { width: 88.8888888%; }

.lastUnit { float: none; width: auto; _position: relative; _left: -3px; _margin-right: -3px; }

.size-circle-btn { width: 30px; }

.size-diary-date { width: 45px; }

.size-diary-entry { width: 745px; }

.size-fb-share-link { width: 114px; }

.size-featured-photo { width: 147px; }

.size-mod-ft-m { width: 326px; }

.size-mod-ft-s { width: 158px; }

.size-media { width: 464px; }

.size-media-info { width: 324px; }

.size-share-row-wide { width: 696px; }

.size-toolbar-input { width: 140px; }

.size-email, .size-print { width: 50px; }

.size-photo-list { *width: 276px; }

/* IE 7 */
/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1 { font-size: 28px; line-height: 1; font-weight: normal; font-style: normal; }

h2, .h2 { font-size: 22px; line-height: 1; font-weight: normal; font-style: normal; }

h3, .h3 { font-size: 18px; line-height: 1.1; font-weight: normal; font-style: normal; }

h4, .h4 { font-size: 16px; line-height: 1.3; font-weight: normal; font-style: normal; }

h5, .h5 { font-size: 15px; line-height: 1.5; font-weight: bold; font-style: normal; }

h6, .h6 { font-size: 14px; line-height: 1.5; font-weight: normal; font-style: normal; }

.category { text-transform: uppercase; color: #a6cfdc; font-weight: bold; font-size: 16px; }

.mod-header { /*	font-size:18px; */ color: #fff; font-weight: bold; overflow: visible; }

.product-title { font-weight: bold; line-height: 1.2; font-size: 22px; }

.product-title-l { font-size: 32px; color: #fff; font-weight: bold; line-height: 1.1; }

.section-title { color: #6c665c; }

.xxxlarge { font-size: 40px; }

/*
Copyright (c) 2009, Nicole Sullivan. All rights reserved.
Code licensed under the BSD License:
version: 0.2
*/
/* **************** BLOCK STRUCTURES ***************** */
/* mod */
.mod { margin: 10px; }

.mod .inner { /*background: url(../images/skin/transparent.png) repeat left top;*/ }

.bd, .ft, .hd { overflow: hidden; *overflow: visible; zoom: 1; }

b.top, b.top b, b.bottom, b.bottom b { display: block; background-repeat: no-repeat; font-size: 1%; position: relative; /*z-index:10;*/ }

.tl, .tr, .bl, .br { height: 10px; width: 10px; float: left; }

.tl { background-position: left top; }

.tr { background-position: right top; }

.bl { background-position: left bottom; }

.br { background-position: right bottom; }

.br, .tr { float: right; }

.tr, .tl { overflow: hidden; margin-bottom: -32000px; }

/* margin bottom needs to be < -9px */
.bl, .br { margin-top: -10px; }

.top { background-position: center top; }

.bottom { background-position: center bottom; _zoom: 1; }

/* this zoom required for IE5.5 only*/
/* complex */
.complex { overflow: hidden; *position: relative; *zoom: 1; }

/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr { height: 32000px; margin-bottom: -32000px; width: 10px; }

.complex .bl, .complex .br { /*margin-top:0;*/ }

.complex .top { height: 5px; }

.complex .bottom { height: 5px; /*margin-top:-10px;*/ }

/* pop */
.pop { overflow: visible; margin: 10px 20px 20px 10px; background-position: left top; }

.pop .inner { right: -10px; bottom: -10px; background-position: right bottom; padding: 0 10px 10px 0; }

.pop .tl, .pop .br { display: none; }

.pop .bl { bottom: -10px; }

.pop .tr { float: right; margin-right: -10px; _display: inline; /*fix double margin bug*/ }

/* ====== media (requires mod.css) ====== */
.media { overflow: hidden; *overflow: visible; zoom: 1; }

.media .img { float: left; /*margin-right: 10px;*/ }

.media .img img { display: block; }

.media .imgExt { float: right; /*margin-left: 10px;*/ }

/**  Spacing classes  Should be used to modify the default spacing between objects (not between nodes of the same object) Please use judiciously. You want to be using defaults most of the time, these are exceptions!  <type><location><size> */
/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote, .media { margin: 10px; }

h1, h2, h3, h4, h5, h6, img { padding-bottom: 0px; }

pre { margin: 10px; }

table h1, table h2, table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl { padding: 0; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
xs,s,m,l,n = extra small(3px),small(5px),medium(10px),large(20px),none(0px)
*/
.ptn, .pvn, .pan { padding-top: 0px !important; }

.ptxs, .pvxs, .paxs { padding-top: 3px !important; }

.pts, .pvs, .pas { padding-top: 5px !important; }

.ptm, .pvm, .pam { padding-top: 10px !important; }

.ptl, .pvl, .pal { padding-top: 20px !important; }

.prn, .phn, .pan { padding-right: 0px !important; }

.prxs, .phxs, .paxs { padding-right: 3px !important; }

.prs, .phs, .pas { padding-right: 5px !important; }

.prm, .phm, .pam { padding-right: 10px !important; }

.prl, .phl, .pal { padding-right: 20px !important; }

.pbn, .pvn, .pan { padding-bottom: 0px !important; }

.pbxs, .pvxs, .paxs { padding-bottom: 3px !important; }

.pbs, .pvs, .pas { padding-bottom: 5px !important; }

.pbm, .pvm, .pam { padding-bottom: 10px !important; }

.pbl, .pvl, .pal { padding-bottom: 20px !important; }

.pln, .phn, .pan { padding-left: 0px !important; }

.plxs, .phxs, .paxs { padding-left: 3px !important; }

.pls, .phs, .pas { padding-left: 5px !important; }

.plm, .phm, .pam { padding-left: 10px !important; }

.pll, .phl, .pal { padding-left: 20px !important; }

.mtn, .mvn, .man { margin-top: 0px !important; }

.mtxxs { margin-top: 1px !important; }

.mtxs, .mvxs, .maxs { margin-top: 3px !important; }

.mts, .mvs, .mas { margin-top: 5px !important; }

.mtm, .mvm, .mam { margin-top: 10px !important; }

.mtl, .mvl, .mal { margin-top: 20px !important; }

.mrn, .mhn, .man { margin-right: 0px !important; }

.mrxs, .mhxs, .maxs { margin-right: 3px !important; }

.mrs, .mhs, .mas { margin-right: 5px !important; }

.mrm, .mhm, .mam { margin-right: 10px !important; }

.mrl, .mhl, .mal { margin-right: 20px !important; }

.mbn, .mvn, .man { margin-bottom: 0px !important; }

.mbxs, .mvxs, .maxs { margin-bottom: 3px !important; }

.mbs, .mvs, .mas { margin-bottom: 5px !important; }

.mbm, .mvm, .mam { margin-bottom: 10px !important; }

.mbl, .mvl, .mal { margin-bottom: 20px !important; }

.mln, .mhn, .man { margin-left: 0px !important; }

.mlxs, .mhxs, .maxs { margin-left: 3px !important; }

.mls, .mhs, .mas { margin-left: 5px !important; }

.mlm, .mhm, .mam { margin-left: 10px !important; }

.mll, .mhl, .mal { margin-left: 20px !important; }

.mva { margin: auto 0; }

.mha { margin: 0 auto; }

.mls-neg { margin-left: -5px !important; }

.mrs-neg { margin-right: -5px !important; }

/* footer margin right */
.fmr { margin-right: 4px; }

/**  Data Table  Allows you to align various table cells so that the alignment class can be placed on either the table, table row, or table cell  Cell takes precedence over table row and table Table row takes precedence over table */
.data { position: relative; zoom: 1; vertical-align: top; text-align: left; /*border-right:solid 1px transparent;*/ /* border fixes a FF2 bug which causes the data table to overlay its borders*/ }

.ie6 .data { position: static; }

/* IE6 */
.data table { width: 100%; /*table-layout:fixed;*/ }

th, td { vertical-align: top; }

/* horizontal alignment */
.txtC, table .txtC td, table .txtC th, .data .txtC th, .data .txtC td { text-align: center; }

.txtL, table .txtL td, table .txtL th, .data .txtL th, .data .txtL td { text-align: left; }

.txtR, table .txtR td, table .txtR th, .data .txtR th, .data .txtR td { text-align: right; }

/* vertical alignment */
.txtT, table .txtT td, table .txtT th, .data .txtT th, .data .txtT td { vertical-align: top; }

.txtB, table .txtB td, table .txtB th, .data .txtB th, .data .txtB td { vertical-align: bottom; }

.txtM, table .txtM td, table .txtM th, .data .txtM th, .data .txtM td { vertical-align: middle; }

.data th, .data td { padding: 5px; }

.imgC { margin: 0 auto; }

body { line-height: 1.5; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; color: #000; background: none; font-size: 10pt; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }

strong, .strong { font-weight: bold; }

p { margin-top: 0; margin-bottom: 0.5cm; }

.xxsmall { font-size: 7pt; }

.xsmall { font-size: 8pt; }

.small, small { font-size: 9pt; }

/*the default/medium is 10pt */
.large { font-size: 11pt; }

.xlarge { font-size: 12pt; }

.xxlarge { font-size: 13pt; }

.hide-txt { display: none; }

.leading-s { line-height: 1.2; }

a:link, a:visited { background: transparent; text-decoration: none; color: #00759A; }

input, button, select { font-size: 10pt; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

label { font-weight: bold; }

.caption { font-size: 9pt; color: #999; line-height: 1.1; }

/* ====== Lists ======*/
/* numbered list */
ol.simple-list li { list-style-type: decimal; margin-left: 25px; }
ol.simple-list li li { list-style-type: lower-roman; }

/* standard list */
ul.simple-list li { list-style-type: disc; margin-left: 25px; }

ul.simple-list .no-list { list-style-type: none; }

.simple-list li h3, .simple-list li h4, .simple-list li p { margin-left: 0; margin-right: 0; }

.no-print, #fb-root, #header, #learnMore, #loadingMsg, .breadcrumb, .fb_reset, .footer, .head, .header, .header-text, .mod b, .photo-count, .right-col, .sidebar, .social, .tabs, .title-bar-gallery, .toolbar { display: none; visibility: hidden; }

.main-content { padding-left: 10px; padding-right: 10px; }

.main { page-break-after: avoid; }

.line, .media { page-break-inside: avoid; }

.main-title-bar { padding-bottom: 0.5cm; }

.cms-content p { margin: 0 0 10px; }
.cms-content ul { margin-left: 0; margin-right: 0; margin-top: 0; }
.cms-content ul li { list-style-type: disc; margin-left: 25px; }

.img-product { margin-left: 12px; }

.info-label { text-transform: uppercase; }

.diary-date { line-height: 1; font-weight: bold; border-right: 1pt solid #cac0b4; }
.diary-date span { display: block; }
.diary-date .month { text-transform: uppercase; }
.diary-date .day { font-size: 18pt; }
.diary-date .year { font-size: 8pt; }

/* ====== Pricing ====== */
.price-from { font-size: 10pt; }

.price-amount { font-size: 16pt; line-height: 1; display: block; font-weight: bold; }

.price-amount-m { font-size: 20pt; }

.price-amount-l { font-size: 24pt; }

.currency-sign, .cents { font-size: 0.6em; vertical-align: 0.4em; font-weight: normal; }

.price-was { color: #666; text-decoration: line-through; }

.price-save { color: #b41a21; }

/* ====== Borders & Lines ====== */
.toolbar .pipe { border-left: 1pt solid #28769a; }

.simple-pipe { color: #cac0b4; margin: 0 5px 0 5px; font-weight: bold; }

.basic-pipe { color: #666; margin: 0 5px 0 6px; }

.hd-border { border-bottom: 1.5pt solid #fff; }

.mid-border-b { border-bottom: 1.5pt solid #c9c0b5; }

.simple-border { border: 0.5pt solid #ccc; }

.simple-border-t { border-top: 0.5pt solid #ccc; }

.light-border-t { border-top: 0.5pt solid #ccc; }

.light-border-b { border-bottom: 0.5pt solid #ccc; }

.main-border-t { border-top: 1pt solid #ccc; }

.main-border-b { border-bottom: 1pt solid #ccc; }

.viamod-border-b { border-bottom: 1pt solid #ccc; }

.img-border { border: 5px solid #fff; }

.no-border { border: 0 !important; }

.tab-content { display: block !important; }
