/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 3.0.0pr2
*/
/* reset */
/*html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* fonts */
body { font: 13px/1.5 arial, helvetica, clean, sans-serif; color: #333; *font-size: small; *font: x-small; }

select, input, button, textarea { font: 99% arial,helvetica,clean,sans-serif; }

table { font-size: inherit; font: 100%; }

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }

/* core */
/* **************** TEMPLATE ***************** */
/* ====== Page Head, Body, and Foot ====== */
body { _text-align: center; }

/* IE5.5 */
.main { /*display:table-cell;*display:block;width:auto;*/ float: right; width: 820px; }

.body, .main { *zoom: 1; }

.body:after, .main:after { clear: both; display: block; visibility: hidden; overflow: hidden; height: 0 !important; line-height: 0; font-size: xx-large; content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "; }

.page { margin: 0 auto; width: 980px; _text-align: left; }

/* wraps other template elems to set width */
/* text-align IE5.5 */
/* "old school" and "liquid" extend page to allow for different page widths */
.oldSchool { width: 750px; }

.gs960 { width: 960px; }

.liquid { width: auto; margin: 0; }

.popup { width: 620px; margin: 0 auto; }

/* ====== Columns ====== */
.left-col { float: left; width: 250px; _margin-right: -3px; }

.right-col { float: right; width: 300px; _margin-left: -3px; }

/* extend columns to allow for common column widths */
.gMail { width: 160px; }

.sidebar { width: 160px; }

.gCal { width: 180px; }

.yahoo { width: 240px; }

.myYahoo { width: 300px; }

.main-content { float: left; width: 100%; }

.main-col { width: 486px; float: left; }

.main-col-wide { width: 810px; }

.main-col-tour-options { width: 610px; }

.main-col-order-summary { width: 620px; }

.right-col { width: 314px; }

.right-col-tour-options { width: 190px; }

.right-col-order-summary { width: 180px; }

.product-details .right-col { margin-top: -135px; min-height: 300px; padding-left: 1px; z-index: 999; }

.memberonlydeal .main-col { width: 570px; }

.memberonlydeal .right-col { width: 240px; }

.line, .lastUnit { overflow: hidden; *overflow: visible; *zoom: 1; }

.unit { float: left; }

.unitRight { float: right; }

.size1of1 { float: none; }

.size1of2 { width: 50%; }

.size1of3 { width: 33.33333%; }

.size2of3 { width: 66.66666%; }

.size1of4 { width: 25%; }

.size3of4 { width: 75%; }

.size1of5 { width: 20%; }

.size2of5 { width: 40%; }

.size3of5 { width: 60%; }

.size4of5 { width: 80%; }

/* Allow grid divisions of 1/6 etc. */
.size1of6 { width: 16.6666666%; }

.size5of6 { width: 83.3333333%; }

/* Allow grid divisions of 1/7 etc. */
.size1of7 { width: 14.2857143%; }

.size2of7 { width: 28.5714286%; }

.size3of7 { width: 42.8571429%; }

.size4of7 { width: 57.1428572%; }

.size5of7 { width: 71.4285715%; }

.size6of7 { width: 85.7142858%; }

.size1of8 { width: 12%; }

.size2of8 { width: 25%; }

.size3of8 { width: 37.5%; }

.size4of8 { width: 50%; }

.size5of8 { width: 62.5%; }

.size6of8 { width: 75%; }

.size7of8 { width: 88%; }

.size1of9 { width: 11.1111111%; }

.size2of9 { width: 22.2222222%; }

.size3of9 { width: 33.3333333%; }

.size4of9 { width: 44.4444444%; }

.size5of9 { width: 55.5555555%; }

.size6of9 { width: 66.6666666%; }

.size7of9 { width: 77.7777777%; }

.size8of9 { width: 88.8888888%; }

.lastUnit { float: none; width: auto; _position: relative; _left: -3px; _margin-right: -3px; }

.size-circle-btn { width: 30px; }

.size-diary-date { width: 45px; }

.size-diary-entry { width: 745px; }

.size-fb-share-link { width: 114px; }

.size-featured-photo { width: 147px; }

.size-mod-ft-m { width: 326px; }

.size-mod-ft-s { width: 158px; }

.size-media { width: 464px; }

.size-media-info { width: 324px; }

.size-share-row-wide { width: 696px; }

.size-toolbar-input { width: 140px; }

.size-email, .size-print { width: 50px; }

.size-photo-list { *width: 276px; }

/* IE 7 */
/*
Copyright (c) 2009, Nicole Sullivan. All rights reserved.
Code licensed under the BSD License:
version: 0.2
*/
/* **************** BLOCK STRUCTURES ***************** */
/* mod */
.mod { margin: 10px; }

.mod .inner { /*background: url(../images/skin/transparent.png) repeat left top;*/ }

.bd, .ft, .hd { overflow: hidden; *overflow: visible; zoom: 1; }

b.top, b.top b, b.bottom, b.bottom b { display: block; background-repeat: no-repeat; font-size: 1%; position: relative; /*z-index:10;*/ }

.tl, .tr, .bl, .br { height: 10px; width: 10px; float: left; }

.tl { background-position: left top; }

.tr { background-position: right top; }

.bl { background-position: left bottom; }

.br { background-position: right bottom; }

.br, .tr { float: right; }

.tr, .tl { overflow: hidden; margin-bottom: -32000px; }

/* margin bottom needs to be < -9px */
.bl, .br { margin-top: -10px; }

.top { background-position: center top; }

.bottom { background-position: center bottom; _zoom: 1; }

/* this zoom required for IE5.5 only*/
/* complex */
.complex { overflow: hidden; *position: relative; *zoom: 1; }

/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr { height: 32000px; margin-bottom: -32000px; width: 10px; }

.complex .bl, .complex .br { /*margin-top:0;*/ }

.complex .top { height: 5px; }

.complex .bottom { height: 5px; /*margin-top:-10px;*/ }

/* pop */
.pop { overflow: visible; margin: 10px 20px 20px 10px; background-position: left top; }

.pop .inner { right: -10px; bottom: -10px; background-position: right bottom; padding: 0 10px 10px 0; }

.pop .tl, .pop .br { display: none; }

.pop .bl { bottom: -10px; }

.pop .tr { float: right; margin-right: -10px; _display: inline; /*fix double margin bug*/ }

/* -------------------------------------------------------------- mod_skins
-------------------------------------------------------------- */
/* ----- simple (extends mod, has border) ----- */
.simple .inner { border: 1px solid #cac0b4; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.simple b { background-image: url("skin/simple_corners.png") \9; }

/* ----- basic (extends mod, no border, can be solid bg) ----- */
.basic .inner { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.basic b { background-image: url("skin/round.png") \9; }

.toolbar .inner { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.toolbar b { background-image: url("skin/toolbar.png"); }

/* ----- photo (extends complex) ----- */
.photo .inner { border: solid 5px #fff; margin: 0 2px; }

.photo .tr, .photo .tl { width: 8px; }

.photo .top, .photo .bottom { height: 2px; margin-top: 0; }

.photo .bl, .photo .br { height: 20px; margin-top: -8px; }

.photo .bottom { height: 12px; }

.photo .overlay .ft { height: 26px; }

/* ----- flow (extends complex) ----- */
.flow { margin: 6px; }

.flow b { background-image: url("skin/even.png"); }

.flow .inner { padding: 0 4px; }

.flow .top { height: 4px; }

.flow .bottom { height: 4px; margin-top: -4px; }

.flow .br, .flow .bl { margin-top: -6px; }

/* margin top = bottom height - corner height */
.excerpt b { background-image: url("skin/excerpt.png"); }

.excerpt .top { height: 1px; }

.excerpt .bottom { height: 6px; margin-top: -6px; }

/* margin top equal to - height of bottom */
.excerpt .br, .excerpt .bl { height: 12px; margin-top: -6px; }

/* margin top = bottom height - corner height */
/* ----- viamod (extends complex) ----- */
.viamod .inner { background: #03769a url("skin/mod_gradient.png") top left repeat-x; }

/* ----- viamod with orange background (extends viamod) ----- */
.viamod-alt .inner { background: #e36f22 url("skin/mod_gradient_alt.png") top left repeat-x; }

/* ----- viamod with orange bar on header (extends viamod) ----- */
.viamod-bar-hd b { background-image: url("skin/mod_bar_hd.png"); }

.viamod-bar-hd .top { height: 7px; }

/* ----- viamod with orange bar on footer (extends viamod) ----- */
.viamod-bar-ft b { background-image: url("skin/mod_bar_ft.png"); }

.viamod-bar-ft .bottom { height: 7px; margin-top: -7px; }

.viamod-bar-ft .br, .viamod-bar-ft .bl { margin-top: 0; height: 7px; }

.viamod-bar { background: #ea8136 url("skin/mod_bar.png") repeat-x top left; height: 7px; }

.footer .viamod-bar-ft .inner { height: 275px; }

/* footer has even height */
/* ----- photo (extends complex) ----- */
.photo .inner { border: solid 3px #fff; margin: 0 2px; padding: 0; min-height: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

/* muck with margins to change how the block will align with other blocks, any value between 0-10px */
.photo b { background-image: url("skin/photo.png"); }

.photo .tr, .photo .tl { width: 2px; }

.photo .top, .photo .bottom { height: 2px; margin-top: 0px; }

.photo .bl, .photo .br { height: 2px; margin-top: 0px; }

.photo-viamod b { background-image: url("skin/photo_mod_bg.png"); }

.current .inner { border-color: #db6f2b; }

.main-title-bar .photo b { background-image: url("skin/photo_mod_bg.png"); }

/* ----- sidebar (extends basic) ----- */
.shader .inner { background: transparent url("skin/shader.png") repeat-x top left; }

/* ----- standing (square bottom) ----- */
.standing .inner { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -ms-border-bottom-left-radius: 0; -o-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -ms-border-bottom-right-radius: 0; -o-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-color: #fff; min-height: 0; /*border-bottom-right-radius:0; border-bottom-left-radius:0; -moz-border-radius-bottomright:0; -moz-border-radius-bottomleft:0; -webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:0;*/ }

/* ----- hanging (square top) ----- */
.hanging .inner { /*@include border-top-radius(0);*/ border-top: 0; border-top-right-radius: 0; border-top-left-radius: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0; -webkit-border-top-right-radius: 0; -webkit-border-top-left-radius: 0; }

.toolbar { z-index: 105; position: relative; -webkit-border-radius: 3px 3px; -moz-border-radius: 3px / 3px; -ms-border-radius: 3px / 3px; -o-border-radius: 3px / 3px; border-radius: 3px / 3px; margin-bottom: 4px; font-size: 10px; text-transform: uppercase; line-height: 26px; }
.toolbar .inner { background-color: #194d65; }
.toolbar a { margin: 0 6px 0 8px; }

.booking-widget-hd { background: transparent url("../images/booking_widget_header.png") no-repeat top right; }

.booking-widget-ft { height: 10px; background: url("../images/booking_widget_footer.png") no-repeat right bottom transparent; }

/* background colours */
.alert { background-color: #aa2b1a; }

.page-bg { background-color: #fff; }

.main-shader { background-color: #e0eff4; }

.light-shader { background-color: #f4f2f0; }

.success-box { background-color: #e4f7e4; border: 1px solid #259700; }

.error-box { background-color: #fce6e2; border: 1px solid #d65656; }

.modal-shader { background-color: #007093; }

.viamod-3col { background: transparent url("skin/viamod_3col.png") repeat-y top left; }

.viamod-alt-shader { background-color: #E36F22; }

.page-shader { background: transparent url("../images/bg_page_shader.gif") repeat-x top left; }

.center-photo-narrow { position: relative; }
.center-photo-narrow .inner { min-height: 170px; }
.center-photo-narrow .hd { width: 236px; }
.center-photo-narrow .hero-img { position: absolute; top: 7px; right: 0; }

.destination-list { position: relative; }
.destination-list .hero-img { position: absolute; /*top:7px; */ left: 0; }

/* ====== media (requires mod.css) ====== */
.media { overflow: hidden; *overflow: visible; zoom: 1; }

.media .img { float: left; /*margin-right: 10px;*/ }

.media .img img { display: block; }

.media .imgExt { float: right; /*margin-left: 10px;*/ }

/* forms */
input, textarea, select { font: normal 14px/1.5 "Helvetica", "Arial", "Verdana", sans-serif; color: #333; padding: 4px 5px; margin: 0; border: 1px solid #fff; box-sizing: content-box; }

.checkbox, .radio { margin-right: 5px; margin-top: 3px; border: 0; }

.input-shader, input[type="text"].input-shader { background-color: #fdfbf3; }

/* use <button> for submitting forms. use <a> for links that look like buttons */
.btn button, .btn input, .btn a { width: 100%; color: #fff; font-weight: bold; border: 0 none; font-size: 12px; line-height: 1.45; text-align: left; background: url("../images/btn.png") no-repeat top left transparent; display: block; cursor: pointer; text-transform: uppercase; *height: 26px; }

.btn a:hover, .btnToggle a:hover { border: 0; text-decoration: none; }

.btn span { position: relative; background: url("../images/btn.png") no-repeat right -26px transparent; display: block; line-height: 26px; *height: 26px; }

.btn a:hover, .btn span:hover, .btn button:hover, .btn button:hover span, .btn input:hover { background-image: url("../images/btn_hover.png"); }

.btn button, .btn a { padding: 0; }
.btn button span, .btn a span { padding-left: 12px; padding-right: 30px; }

/* buttons using <input> (if needed) */
/* eg <div class="btn btnInput"><span><input type="submit" value="Search" /></span></div> */
.btn-input input { height: 26px; line-height: 26px; padding: 0; margin: 0; padding-left: 12px; width: inherit; /*needed for chrome */ }

.btn-input span { padding-right: 30px; }

.btn.btn-inactive button { background-position: 0 -130px; }
.btn.btn-inactive button span { background-position: right -156px; }

.btn-inactive button { color: #cccccc; cursor: auto; }

.viamod-alt button span { background-position: right -52px; }

.btn-light-shader span { background-position: right -78px; }

.btn-main-shader span { background-position: right -104px; }

.btn-alt button, .btn-alt a { background-position: left -200px; }

.btn-alt button span, .btn-alt a span { background-position: right -226px; }

.AB-wishlist button span { background-position: right -252px; }

.btn-back-arrow { background: transparent url("../images/btn.png") no-repeat 0 -400px; width: 115px; height: 27px; display: block; }

.btn-add-to-cart button { background-position: 0 -500px; height: 46px; font-size: 20px; text-align: center; width: 254px; }
.btn-add-to-cart button:hover { background-position: 0 -500px; }

.btn-add-to-cart.btn-inactive button { background-position: 0 -546px; }

.btn-booking button { background-position: 0 -600px; height: 36px; font-size: 16px; }
.btn-booking button span { padding-left: 18px; padding-right: 40px; background-position: right -636px; height: 36px; line-height: 36px; }

.btn-input.btn-booking span { background-position: 0 -600px; height: 36px; font-size: 16px; margin: 0; padding: 0; padding-left: 18px; }
.btn-input.btn-booking span input { background-position: right -636px; height: 36px; line-height: 36px; font-size: 16px; padding: 0; padding-right: 40px; }

.social .icon { margin-top: 7px; }
.social a { background-position: 0 -700px; *height: 30px; color: #999; text-transform: none; font-weight: normal; font-size: 11px; }
.social a span { background-position: right -730px; line-height: 30px; height: 30px; padding-left: 8px; padding-right: 8px; }

.social-page-bg a span { background-position: right -760px; }

body:nth-of-type(1) .size-circle-btn a span { margin-right: -1px; }

/* for chrome windows */
.btn-facebook button { background-position: left -800px; }
.btn-facebook button span { background-position: right -826px; padding-left: 35px; padding-right: 15px; }

.btn-facebook-success button span { background-position: right -852px; }

.btn-add button { background-position: 0 -900px; }
.btn-add button span { background-position: right -926px; padding-right: 12px; padding-left: 30px; }

/* IE 7 */
.size-btn-add-new-recommendation { *width: 221px; }

.size-btn-add-to-cart { *width: 125px; }

.size-btn-add-photos { *width: 122px; }

.size-btn-apply { *width: 82px; }

.size-btn-check-dates { *width: 122px; }

.size-btn-connect-with-facebook { *width: 215px; }

.size-btn-edit-contact { *width: 206px; }

.size-btn-edit-my-profile { *width: 144px; }

.size-btn-go { *width: 60px; }

.size-btn-go-to-my-bookings { *width: 168px; }

.size-btn-join { *width: 70px; }

.size-btn-preview-ecard { *width: 150px; }

.size-btn-preview-gc { *width: 210px; }

.size-btn-print-all-vouchers { *width: 176px; }

.size-btn-redeem { *width: 94px; }

.size-btn-remove { *width: 94px; }

.size-btn-remove-all { *width: 120px; }

.size-btn-request-amendment { *width: 182px; }

.size-btn-request-cancellation { *width: 198px; }

.size-btn-request-refund { *width: 154px; }

.size-btn-report-it { *width: 105px; }

.size-btn-save { *width: 75px; }

.size-btn-search { *width: 70px; }

.size-btn-sign-up { *width: 91px; }

.size-btn-social { width: 65px; }

.size-btn-submit { *width: 88px; }

.size-btn-submit-photo { *width: 133px; }

.size-btn-submit-query { *width: 134px; }

.size-btn-submit-review { *width: 138px; }

.size-btn-unsubscribe { *width: 132px; }

.size-btn-update-my-profile { *width: 167px; }

.size-btn-view-additional-info { *width: 180px; }

.size-btn-view-pricing-and-availability { *width: 240px; }

.size-btn-booking-book-now { *width: 150px; }

.size-btn-booking-join { *width: 95px; }

.size-btn-booking-print-vouchers { *width: 204px; }

.size-btn-booking-proceed-to-checkout { *width: 262px; }

.size-btn-booking-sign-in { *width: 117px; }

.size-btn-booking-submit { *width: 120px; }

/* Note: This file is dependent on Sass and Compass. */
/* Sass = http://sass-lang.com */
/* Compass = http://compass-style.org */
/* `Widths
----------------------------------------------------------------------------------------------------*/
.input-xsmall { width: 50px; }

.input-small { width: 100px; }

.input-medium { width: 150px; }

.input-large { width: 200px; }

.input-xlarge { width: 250px; }

.input-xxlarge { width: 300px; }

.input-full { width: 100%; }

/* Added via JS to <textarea> and class="input-full".*/
/* Applies only to IE7. Other browsers don't need it.*/
.input-full-wrap { *display: block; *padding-right: 11px; }

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/
input[type="search"]::-webkit-search-decoration { display: none; }

input, button, a.button, select, textarea { /* Suppress red glow that Firefox */ /* adds to form fields by default. */ /* Add blue glow. */ }
input:invalid, button:invalid, a.button:invalid, select:invalid, textarea:invalid { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
input:focus, button:focus, a.button:focus, select:focus, textarea:focus { /* @include box-shadow(#0066ff 0 0 5px 0);*/ /* for Opera */ z-index: 1; }
input:active, button:active, a.button:active, select:active, textarea:active { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

input[type="file"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

button, a.button, input[type="reset"], input[type="submit"], input[type="button"] { /*  -webkit-appearance: none; @include border-radius(4px); @include background-clip(padding-box); background: #dddddd image-url("button.png") repeat-x; @include background-image(linear-gradient(white, #dddddd)); border: 1px solid; border-color: #dddddd #bbbbbb #999999; cursor: pointer; color: #333333; display: inline-block;*/ /* Helvetica Neue present, because it works better */ /* for line-height on buttons than Arial, on OS X. */ /*font: bold 12px / 1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;*/ /*  outline: 0; overflow: visible; margin: 0; padding: 3px 10px; text-shadow: none; text-decoration: none; vertical-align: top; width: auto; &:hover { @include background-image(linear-gradient(white, #eeeeee 1px, #cccccc)); }*/ /* &:active { @include background-image(linear-gradient(white, #dddddd 1px, #eeeeee)); @include box-shadow(inset rgba(black, 0.25) 0 1px 2px 0); border-color: #999999 #bbbbbb #dddddd; }*/ /* IE7 */ *padding-top: 2px; *padding-bottom: 0; /* Kill phantom spacing and dotted */ /* border that appears in Firefox. */ }
button::-moz-focus-inner, a.button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border: 0; padding: 0; }

a.button { /* IE7 */ *padding-bottom: 3px; }

button { /* IE7 */ *padding-top: 1px; *padding-bottom: 1px; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-appearance: none; background-color: white; border: 1px solid; border-color: #848484 #c1c1c1 #e1e1e1; color: black; outline: 0; margin: 0; padding: 4px 5px; text-align: left; font-size: 14px; /* Leaving out Helvetica Neue, to not throw off size="..." */ /* on inputs. Arial is more reliable, on Windows and OS X. */ font-family: Arial, "Liberation Sans", FreeSans, sans-serif; /*  height: 1.8em;*/ vertical-align: top; /* IE7 */ *padding-top: 2px; *padding-bottom: 10px; *height: auto; }
textarea[disabled], select[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] { background-color: #eeeeee; }

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled], a.button_disabled { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select: none; color: #999999; cursor: default; }

/* Separate rule for Firefox. */
/* Separate rule for IE, too. */
/* Cannot stack with WebKit's. */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999999; }

input.placeholder_text, textarea.placeholder_text { color: #999999; }

textarea, select[size], select[multiple] { height: auto; }

/* Set height back to normal, */
/* for Opera, WebKit, and IE. */
select[size="0"], select[size="1"] { /*height: 1.8em;*/ /* IE7 */ *height: auto; }

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) { select[size], select[multiple], select[multiple][size] { background-image: none; padding-right: 3px; }
  select, select[size="0"], select[size="1"] { /* Base64 encoded "../images/select_arrow.gif" */ background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==); background-repeat: no-repeat; background-position: right center; padding-right: 20px; }
  ::-webkit-validation-bubble-message { -webkit-box-shadow: none; box-shadow: none; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black)); border: 1px solid; border-color: #747474 #5e5e5e #4f4f4f; color: white; font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif; overflow: hidden; padding: 15px 15px 17px; text-shadow: none; /*height: 16px;*/ }
  ::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-top-outer-arrow, ::-webkit-validation-bubble-top-inner-arrow { -webkit-box-shadow: none; box-shadow: none; background: #666666; border: 0; } }
textarea { min-height: 40px; overflow: auto; resize: vertical; width: 100%; }

optgroup { color: black; font-style: normal; font-weight: normal; /* Font family repeated, for Firefox. */ font-family: Arial, "Liberation Sans", FreeSans, sans-serif; /* Kill phantom spacing and dotted */ /* border that appears in Firefox. */ }
optgroup::-moz-focus-inner { border: 0; padding: 0; }

/* **************** CONTENT OBJECTS ***************** */
.xxsmall { font-size: 10px; }

.xsmall { font-size: 11px; }

.small, small { font-size: 12px; }

/*the default/medium is 13px */
.large { font-size: 14px; }

.xlarge { font-size: 15px; }

.xxlarge { font-size: 16px; }

.hide-txt { margin-left: -9999em; }

.leading-s { line-height: 1.2; }

/* ====== Elements ====== */
img, .img { display: block; }

em { font-style: italic; }

strong, .strong { font-weight: bold !important; }

code { color: #0B8C8F; }

fieldset { display: table-cell; }

legend { color: #666; }

iframe { background-color: #fff; }

.clear { clear: both; }

.clear-l { clear: left; }

.clear-r { clear: right; }

/* ====== Links ======*/
a { color: #00759a; text-decoration: none; border-bottom-width: 0.1em; border-bottom-style: solid; outline: 0; }

a:focus, a:hover { border: 0; cursor: pointer; }

a:focus { background-color: transparent; }

.inverse-link, .inverse-link a { border: 0; }

.inverse-link:focus, .inverse-link a:focus, .inverse-link:hover, .inverse-link a:hover { border-bottom-width: 0.1em; border-bottom-style: solid; }

.no-hover, .no-hover:hover { border: 0; text-decoration: none; }

.fade-hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; border: 0; text-decoration: none; }
.fade-hover:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.more-link, .more-link:visited { color: #b5dfeb !important; text-transform: uppercase; font-size: 10px; font-weight: bold; }

.photo a { border: 0; }

.map a { text-decoration: none; border: 0; }

/* ====== Lists ======*/
/* numbered list */
ol.simple-list li { list-style-type: decimal; margin-left: 25px; }
ol.simple-list li li { list-style-type: lower-roman; }

/* standard list */
ul.simple-list li { list-style-type: disc; margin-left: 25px; }

ul.simple-list .no-list { list-style-type: none; }

.sidebar-list li { border-bottom: 2px solid #5d9bb7; }

.sidebar-list .last { border: 0; }

.simple-list li h3, .simple-list li h4, .simple-list li p { margin-left: 0; margin-right: 0; }

.inline-unit { display: inline !important; }

/* ====== Image treatments ====== */
.img-product { background: transparent url("skin/photo_154x109.png") top left no-repeat; margin-left: 8px; padding: 2px; }
.img-product img { border: 5px solid #fff; }
.img-product .photo-count { position: absolute; bottom: 5px; left: 5px; }
.img-product .photo-count .inner { background: transparent url("../images/overlay.png") top left; }

.img-thumb { background: transparent url("skin/photo_69x69.png") no-repeat top left; width: 75px; height: 75px; padding: 2px; }
.img-thumb img { border: 3px solid #fff; }

.img-thumb-alt { background-image: url("skin/photo_69x69_alt.png"); }

.img-link { display: block; }

.caption { font-size: 11px; line-height: 1.1; background-color: #f4f2f0; color: #999999; padding-top: 0; }

.overlay { position: relative; }
.overlay a { color: white; }
.overlay .hd { position: absolute; top: 0; left: 0; }
.overlay .ft { position: absolute; bottom: 0; left: 0; }

.gallery .photo-count { display: none; position: absolute; top: 0; right: 0; background: transparent url("../images/overlay.png") top left; padding: 5px; }
.gallery .ft { display: none; width: 100%; background: transparent url("../images/overlay.png") top left; }
.gallery:hover .ft { display: block; }
.gallery:hover .photo-count { display: block; }

.prev, .next { position: absolute; top: 0; height: 100%; }
.prev a, .next a { cursor: hand; }
.prev:hover, .next:hover { background-image: url("../images/slider_arrow_hover.png"); }

.prev { width: 25%; background: transparent url("../images/slider_arrow.png") no-repeat left 50%; }

.next { width: 75%; right: 0; background: transparent url("../images/slider_arrow.png") no-repeat right 50%; }

.gallery-dark { background-color: #1a1a1a; }

.gallery-thumbs { margin-bottom: 5px; /*  width: 464px;*/ *height: 92px; overflow-x: auto; overflow-y: hidden; }
.gallery-thumbs img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.gallery-thumbs img:hover, .gallery-thumbs .last img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.gallery-thumbs .current img { border: 3px solid #DB6F2B; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.gallery-thumbs-wide { width: 788px; *height: 135px; }
.gallery-thumbs-wide .img-product { margin-left: 0; }
.gallery-thumbs-wide .current img { border: 5px solid #DB6F2B; }

/* IE 7 */
.avatar-s { *width: 45px; }

/* img size 35x35 */
.avatar-m { *width: 55px; }

/* img size 45x45 */
.avatar-l { *width: 125px; }

/* img size 115x115 */
.title-bar-gallery { position: absolute; bottom: 0; right: 0; background: transparent url("../images/mainbar_gallery.png") no-repeat top left; width: 290px; height: 148px; }
.title-bar-gallery .gallery { width: 205px; height: 140px; margin-top: 8px; margin-left: 44px; }
.title-bar-gallery .gallery-nav { margin-top: -90px; padding: 0 15px; }

.tan-ad img, .imgC img { margin: 0 auto; }

/* ====== Special Formatting Classes ====== */
.inverse-txt, .inverse-txt:visited, .inverse-txt a, .inverse-txt a:visited { color: #fff; }

.detail { color: #777; font-size: 11px; display: block; }

.note { color: #666; }

.hint { color: #999; }

.empty { font-style: italic; color: #999; }

.required, .error-txt { color: #CE2B1A; }

.breadcrumb h1, .breadcrumb h2 { display: inline; margin: 0; padding: 0; font-size: 11px; }

.breadcrumb a { text-decoration: none; border: none; }
.breadcrumb a:hover { border-bottom-width: 0.1em; border-bottom-style: solid; }

.breadcrumb .current a { color: #f58025; font-weight: bold; }
.breadcrumb .current a:hover { border: none; cursor: default; }

.info-label { text-transform: uppercase; }

.hover-alt:hover { border: 0; text-decoration: none; color: #BFDCE6; }

.mod-txt { color: #B5DFEB; }

.header-text { display: none; }

.diary-date { line-height: 1; font-weight: bold; border-right: 2px solid #cac0b4; }
.diary-date span { display: block; }
.diary-date .month { text-transform: uppercase; }
.diary-date .day { font-size: 24px; }
.diary-date .year { font-size: 11px; }

.cms-content p { margin: 0 0 10px; }
.cms-content ul li { list-style-type: disc; margin-left: 25px; }
.cms-content ul { margin-left: 0; margin-right: 0; margin-top: 0; }
.cms-content b { font-weight: bold; }
.cms-content i { font-style: italic; }
.cms-content u { text-decoration: underline; }
.cms-content strike { text-decoration: line-through; }

/* ====== Icons ====== */
.icon { width: 16px; height: 16px; display: inline-block; vertical-align: middle; overflow: hidden; margin-right: 5px; background-image: url(../images/icons.png); }
.icon:hover { background-image: url(../images/icons_hover.png); }

/* Row 1 */
.icon-arrow { background-position: 0 0; width: 15px; height: 15px; margin-top: -4px; }

.icon-facebook { background-position: -50px 0; width: 16px; height: 16px; }

.icon-arrow-north { background-position: -100px 0; width: 13px; height: 11px; margin-top: -4px; }

.icon-arrow-east { background-position: -150px 0; width: 13px; height: 11px; margin-top: -4px; }

.icon-arrow-south { background-position: -200px 0; width: 13px; height: 11px; margin-top: -4px; }

.icon-arrow-west { background-position: -250px 0; width: 13px; height: 11px; margin-top: -4px; }

.icon-list-one { background-position: -300px 0; width: 15px; height: 15px; margin-top: -3px; }

.icon-list-two { background-position: -350px 0; width: 15px; height: 15px; margin-top: -3px; }

.icon-list-three { background-position: -400px 0; width: 15px; height: 15px; margin-top: -3px; }

.icon-list-four { background-position: -450px 0; width: 15px; height: 15px; margin-top: -3px; }

.icon-list-five { background-position: -500px 0; width: 15px; height: 15px; margin-top: -3px; }

.icon-wishlist-arrow { background-position: -700px 0; width: 76px; height: 34px; margin-top: -4px; }

/* Row 2 */
.icon-arrow-link { background-position: 0 -50px; width: 5px; height: 8px; margin-top: -3px; }

.icon-number-1 { background-position: -50px -50px; width: 22px; height: 22px; }

.icon-number-2 { background-position: -100px -50px; width: 22px; height: 22px; }

.icon-calendar { background-position: -150px -50px; width: 26px; height: 29px; }

.icon-slide-prev { background-position: -300px -50px; width: 16px; height: 16px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.icon-slide-next { background-position: -350px -50px; width: 16px; height: 16px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.icon-close { background-position: -390px -40px; width: 11px; height: 11px; }

.icon-star-review { background-position: -450px -50px; width: 25px; height: 25px; margin-right: 2px; }

.icon-slide-prev:hover, .icon-slide-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

/* Row 3 */
.icon-arrow-link-alt { background-position: 0 -100px; width: 5px; height: 8px; margin-top: 5px; }

.icon-down { background-position: -150px -100px; width: 6px; height: 4px; }

.icon-low-price { background-position: -200px -100px; width: 25px; height: 12px; margin-top: -3px; }

.icon-flag-usd-l { background-position: -400px -100px; width: 42px; height: 32px; }

.icon-flag-gbp-l { background-position: -450px -100px; width: 42px; height: 32px; }

.icon-flag-eur-l { background-position: -500px -100px; width: 42px; height: 32px; }

.icon-flag-aud-l { background-position: -550px -100px; width: 42px; height: 32px; }

.icon-flag-cad-l { background-position: -600px -100px; width: 42px; height: 32px; }

/* Row 4 */
.icon-location-alt { background-position: 0 -150px; width: 16px; height: 16px; }

.icon-clock-alt { background-position: -50px -150px; width: 16px; height: 16px; }

.icon-info-alt { background-position: -100px -150px; width: 16px; height: 16px; }

.icon-location { background-position: -150px -150px; width: 14px; height: 16px; }

.icon-clock { background-position: -200px -150px; width: 14px; height: 16px; }

.icon-social-fb { background-position: -250px -150px; width: 16px; height: 16px; }

.icon-social-twitter { background-position: -300px -150px; width: 16px; height: 16px; }

.icon-social-google { background-position: -350px -150px; width: 16px; height: 16px; }

.icon-social-pinterest { background-position: -400px -150px; width: 16px; height: 16px; }

.icon-mail { background-position: -450px -150px; width: 16px; height: 16px; }

.icon-print { background-position: -500px -150px; width: 16px; height: 16px; }

.icon-info { background-position: -550px -150px; width: 14px; height: 14px; }

/* Row 5 */
.icon-section-arrow { background-position: 0 -200px; width: 32px; height: 24px; margin-top: -4px; }

.icon-section-camera { background-position: -50px -200px; width: 32px; height: 24px; margin-top: -7px; }

.icon-section-info { background-position: -100px -200px; width: 32px; height: 24px; margin-top: -4px; }

.icon-section-profile { background-position: -150px -200px; width: 32px; height: 24px; margin-top: -4px; }

.icon-section-pencil { background-position: -200px -200px; width: 30px; height: 30px; margin-top: -4px; }

/* Row 6 */
.icon-hands-up { background-position: 0 -250px; width: 17px; height: 16px; margin-top: 2px; }

.icon-camera { background-position: -50px -250px; width: 18px; height: 13px; margin-top: -2px; }

.icon-video { background-position: -100px -250px; width: 15px; height: 10px; margin-top: -3px; }

.icon-wishlist { background-position: -150px -250px; width: 12px; height: 10px; margin-top: -2px; }

.icon-sub-nav-tail { background-position: -200px -250px; width: 14px; height: 7px; }

.icon-flag { background-position: -250px -250px; width: 12px; height: 14px; }

.icon-envelope { background-position: -300px -250px; width: 14px; height: 10px; }

.icon-cross { background-position: -350px -250px; width: 11px; height: 11px; margin-top: -2px; }

.icon-rotate-left { background-position: -400px -250px; width: 14px; height: 16px; }

.icon-rotate-right { background-position: -450px -250px; width: 14px; height: 16px; }

.icon-pencil { background-position: -500px -250px; width: 12px; height: 12px; margin-top: -2px; }

.icon-lock { background-position: -550px -250px; width: 14px; height: 15px; margin-top: -2px; }

/* Row 7 */
.icon-hands-up-alt { background-position: 0 -300px; width: 17px; height: 16px; margin-top: 2px; }

.icon-camera-alt { background-position: -50px -300px; width: 18px; height: 13px; margin-top: 2px; }

.icon-video-alt { background-position: -100px -300px; width: 18px; height: 13px; margin-top: 4px; }

.icon-wishlist-alt { background-position: -150px -300px; width: 12px; height: 10px; }

.icon-pencil-alt { background-position: -200px -300px; width: 12px; height: 12px; margin-top: -2px; }

.icon-cross-alt { background-position: -350px -300px; width: 11px; height: 11px; margin-top: -2px; }

.icon-video-play-m { background-position: -500px -300px; width: 61px; height: 61px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -30px; }

.icon-zoom { background-position: -600px -300px; width: 51px; height: 55px; }

.zoom { position: relative; display: block; }

.zoom .icon-zoom { display: none; position: absolute; left: 50%; top: 50%; margin-top: -27px; margin-left: -25px; }

.zoom:hover .icon-zoom { display: block; }

/* Row 8 */
.icon-tick { background-position: 0 -350px; width: 13px; height: 12px; margin-top: -3px; }

.icon-error { background-position: -50px -350px; width: 14px; height: 14px; }

.icon-lock-dark { background-position: -100px -350px; width: 14px; height: 15px; margin-top: -2px; }

.icon-lock-inactive { background-position: -150px -350px; width: 14px; height: 15px; margin-top: -2px; }

/* Row 9 */
.icon-map-pin-selected { background-position: -550px -400px; width: 22px; height: 38px; }

/* Row 10 */
.icon-newsletter { background-position: 0 -450px; width: 62px; height: 30px; }

.icon-customer-care { background-position: -100px -450px; width: 70px; height: 27px; }

.icon-low-price-l { background-position: -200px -450px; width: 124px; height: 28px; }

.icon-pencil-bubble { background-position: -350px -450px; width: 30px; height: 30px; margin-top: -10px; }

.icon-destinations { background-position: -400px -450px; width: 62px; height: 30px; }

.icon-why { background-position: -500px -450px; width: 34px; height: 34px; margin-top: 13px; }

.icon-camera-l { background-position: -550px -450px; width: 30px; height: 26px; margin-top: -6px; }

.icon-wishlist-l { background-position: -600px -450px; width: 22px; height: 21px; margin-top: -6px; }

/* Row 11 */
.icon-connect-fb { background-position: 0 -500px; width: 33px; height: 33px; }

.icon-connect-twitter { background-position: -50px -500px; width: 33px; height: 33px; }

.icon-connect-pinterest { background-position: -100px -500px; width: 33px; height: 33px; }

.icon-connect-youtube { background-position: -150px -500px; width: 33px; height: 33px; }

.icon-connect-google { background-position: -200px -500px; width: 33px; height: 33px; }

.icon-connect-rss { background-position: -250px -500px; width: 33px; height: 33px; }

.icon-mobile-apps { background-position: -300px -500px; width: 75px; height: 64px; }

.icon-hands-up-l { background-position: -400px -500px; width: 59px; height: 55px; }

.icon-special-stand { background: transparent url("../images/booking_widget_price_stand.png") no-repeat 0 0; height: 6px; width: 6px; position: absolute; top: -5px; right: -6px; }

.link-dropdown { background: transparent url(../images/icon-dropdown.png) right 5px no-repeat; }

/* ====== Pricing ====== */
.price-from { font-size: 12px; }

.price-amount { font-size: 28px; line-height: 1; display: block; font-weight: bold; }

.price-amount-m { font-size: 36px; }

.price-amount-l { font-size: 46px; letter-spacing: -0.025em; }

.currency-sign, .cents { font-size: 0.6em; vertical-align: 0.4em; font-weight: normal; }

.price-was { color: #666; text-decoration: line-through; }

.price-save { color: #b41a21; }

.booking-widget-promo { position: absolute; top: -5px; right: 0; }

.discount { background-color: #f8efd9; border-bottom: 1px solid #864c26; }

.special-promo { background-color: #bd1d23; }

.booking-widget-hd .price-amount-l { text-shadow: 0 0.04em 0.04em #333; }

.special-curl { position: relative; background: transparent url("../images/ttd_special.gif") top right no-repeat; }

.special-curl-txt { position: absolute; top: 5px; right: 5px; width: 47px; }
.special-curl-txt .xsmall { line-height: 1; }
.special-curl-txt a:hover { border: 0; color: #f5cdc8; }

.product-summary { position: relative; }
.product-summary .product-price { position: absolute; bottom: 10px; right: 10px; }

.option-row { background: transparent url("../images/tour_option_row.png") repeat-y top left; }

.cart-row { background: transparent url("../images/col_bg_shopping_cart.gif") repeat-y top right; }

/* ====== Main Title Bar ====== */
.main-title-bar { background: #03769a url("../images/mainbar_top.png") top left no-repeat; }
.main-title-bar .inner { background: transparent url("../images/mainbar_bottom.png") bottom left no-repeat; }
.main-title-bar .tall { min-height: 160px; }
.main-title-bar .hd { top: 20px; right: 20px; }

/* ====== Borders & Lines ====== */
.toolbar-pipe { color: #28769a; padding: 0 5px; font-weight: bold; }

.simple-pipe { color: #cac0b4; margin: 0 5px 0 5px; font-weight: bold; }

.basic-pipe { color: #666; margin: 0 2px 0 3px; }

.hd-border { border-bottom: 3px solid #fff; }

.mid-border-b { border-bottom: 3px solid #c9c0b5; }

.simple-border { border: 1px solid #bfdce5; }

.simple-border-t { border-top: 1px solid #bfdce5; }

.simple-border-b { border-bottom: 1px solid #bfdce5; }

.light-border { border: 1px solid #e0dbd5; }

.light-border-t { border-top: 1px solid #e0dbd5; }

.light-border-b { border-bottom: 1px solid #e0dbd5; }

.light-border-v { border-top: 1px solid #e0dbd5; border-bottom: 1px solid #e0dbd5; }

.main-border-t { border-top: 2px solid #bfdce5; }

.main-border-b { border-bottom: 2px solid #bfdce5; }

.main-border-v { border-top: 2px solid #bfdce5; border-bottom: 2px solid #bfdce5; }

.viamod-border-t { border-top: 2px solid #5d9bb7; }

.viamod-border-b { border-bottom: 2px solid #5d9bb7; }

.simple-tab-border-t { border-top: 1px solid #CAC0B4; }

.bdr-tn { border-top: none; }

.bdr-rn { border-right: none; }

.bdr-bn { border-bottom: none; }

.bdr-ln { border-left: none; }

.img-border { border: 5px solid #fff; }

.no-border { border: 0 !important; }

.error-border, input.error-border { border: 1px solid #d65656; }

.floating-border { margin-bottom: -10px; }

/* ====== Toolbar ====== */
.global-search { margin-top: 4px; height: 18px; }
.global-search input[type="text"] { background: transparent url("../images/input_search.png") no-repeat top left; width: 140px; padding: 2px 5px; line-height: 1.2; font-size: 11px; border: 0; height: 18px; margin: 0; float: left; }
.global-search .btn input { background: transparent url("../images/btn.png") no-repeat 0 -450px; height: 18px; width: 41px; padding: 0; border: 0; }
.global-search .btn input:hover { background-image: url("../images/btn_hover.png"); }

.toolbar-count { background: transparent url("../images/btn.png") no-repeat 0 -475px; display: inline-block; }
.toolbar-count span { display: inline-block; background: transparent url("../images/btn.png") no-repeat right -475px; height: 16px; padding: 0 7px 0 0; line-height: 16px; margin-left: 7px; }

.AB-wishlist { background: transparent url("../images/bg_wishlist_AB.png") no-repeat top left; height: 60px; width: 980px; margin-bottom: 4px; margin-top: 4px; position: relative; }

.AB-wishlist-text { padding-top: 18px; text-align: right; font-size: 17px; }
.AB-wishlist-text a { color: #333; }

.close-mod { position: absolute; top: 0; right: 0; width: 31px; height: 31px; }

/* ====== Popups ====== */
.popup .header { background: #00759a url("../images/popup_header.png") no-repeat top left; height: 50px; width: 600px; }
.popup .header h1 { margin-left: 110px; margin-top: 17px; }

/* ====== Misc ====== */
iframe#loadingMsg { height: 200px; position: absolute; text-align: center; visibility: hidden; width: 355px; z-index: 999; }

.fb-ui-fix { position: fixed !important; visibility: hidden; }

/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1 { font-size: 28px; line-height: 1; font-weight: normal; font-style: normal; }

h2, .h2 { font-size: 22px; line-height: 1; font-weight: normal; font-style: normal; }

h3, .h3 { font-size: 18px; line-height: 1.1; font-weight: normal; font-style: normal; }

h4, .h4 { font-size: 16px; line-height: 1.3; font-weight: normal; font-style: normal; }

h5, .h5 { font-size: 15px; line-height: 1.5; font-weight: bold; font-style: normal; }

h6, .h6 { font-size: 14px; line-height: 1.5; font-weight: normal; font-style: normal; }

.category { text-transform: uppercase; color: #a6cfdc; font-weight: bold; font-size: 16px; }

.mod-header { /*	font-size:18px; */ color: #fff; font-weight: bold; overflow: visible; }

.product-title { font-weight: bold; line-height: 1.2; font-size: 22px; }

.product-title-l { font-size: 32px; color: #fff; font-weight: bold; line-height: 1.1; }

.section-title { color: #6c665c; }

.xxxlarge { font-size: 40px; }

/* -------------------------------------------------------------- tabs
-------------------------------------------------------------- */
.tabs ul { padding: 0; display: table-row; _zoom: 1; }

.tabs li { display: table-cell; *display: inline; vertical-align: middle; }

.tabs .tab-control a { display: inline-block; text-decoration: none; }

.tabs span { display: inline-block; text-align: center; }

.tabs .topper { padding: 0; }

.tab-control li { border-right: solid 1px #ccc; border-left: solid 1px #fff; }

.tab-control li:last-child { border-right: none; }

.tab-control li:first-child { border-left: none; }

.tabs a { color: #333; }

.tabs .tab-control .current { background-color: #fff; }

/*.tabs li a:hover{color:#000;background-color: #fff;}*/
.tabs li.current a, .tabs li.current span { cursor: default; }

.tabs li span { cursor: pointer; }

/*.inner:after,.bd:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.inner, .bd{*zoom:1;}*/
.tabs a, .tabs a:link, .tabs a:visited { font-weight: bold; border: 0; }

.tabs li.current a, .tabs li.current span { cursor: default; }

.controls { position: absolute; top: 0; right: 0; display: none !important; /* this should move to its' own plugin */ }

.controls a { padding: 10px; }

.tab-control li { border: 0; }

.tabs ul { margin: 0; }

.tabs li { float: left; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; margin-right: 10px; }

.tabs a:hover { border: none; }

.page-tabs { margin-left: 20px; }

.page-tabs li { margin-right: 5px; }

.page-tabs li a { font-size: 15px; line-height: 38px; background: transparent url("../images/tab.png") no-repeat top right; color: #fff; }

.page-tabs span { padding: 0 10px 0 15px; margin-right: 5px; background: transparent url("../images/tab.png") no-repeat top left; }

.page-tabs li a:hover, .page-tabs a:hover span { background-image: url("../images/tab_hover.png"); }

.page-tabs .current a, .page-tabs .current a:hover { background-image: url("../images/tab_current.png"); color: #333; }

.page-tabs .current span, .page-tabs .current a:hover span { background-image: url("../images/tab_current.png"); }

.secondary-tabs { margin-left: 10px; margin-top: 10px; *margin-top: 9px; }

.secondary-tabs li { margin-right: 7px; }

.secondary-tabs li a { font-size: 14px; line-height: 37px; background: transparent url("../images/tab_secondary.png") no-repeat top right; color: #00759a; }

.secondary-tabs span { padding: 0 10px 0 15px; margin-right: 5px; background: transparent url("../images/tab_secondary.png") no-repeat top left; }

.secondary-tabs li a:hover, .secondary-tabs a:hover span { background-image: url("../images/tab_secondary_hover.png"); }

.secondary-tabs .current a, .secondary-tabs .current a:hover { background-image: url("../images/tab_secondary_current.png"); color: #333; }

.secondary-tabs .current span, .secondary-tabs .current a:hover span { background-image: url("../images/tab_secondary_current.png"); }

.secondary-tabs-bg { background-image: url("../images/tab_secondary_bg.png"); background-repeat: repeat-x; background-position: top left; }

.page-tabsBd { background: transparent url("../images/page_tab_shading.png") repeat-x top left; }

.page-tabs-wrapper { margin-bottom: -1px; *margin-bottom: 0; /* IE7 and below */ z-index: 10; }

.page-tabs-wrapper .secondary-tabs { /*margin-bottom : -1px;  IE7 and below */ }

.sub-nav li { height: 37px; margin-right: 0; }

.sub-nav li a { color: #00759a; line-height: 30px; }

.sub-nav li a:hover { color: #db6e2a; }

.sub-nav span { padding: 0 10px; }

.sub-nav .current a, .sub-nav .current a:hover { color: #ffffff; background: transparent url(../images/btn.png) no-repeat 0 -350px; }

.sub-nav .current span { background: transparent url(../images/btn.png) no-repeat right -380px; }

.sub-nav .icon-hands-up, .sub-nav .icon-hands-up-alt { margin-top: 7px; }

.sub-nav .icon-camera, .sub-nav .icon-camera-alt { margin-top: 7px; }

.sub-nav .icon-video, .sub-nav .icon-video-alt { margin-top: 10px; }

.sub-nav .icon-sub-nav-tail { *margin-top: -8px; }

/**  Spacing classes  Should be used to modify the default spacing between objects (not between nodes of the same object) Please use judiciously. You want to be using defaults most of the time, these are exceptions!  <type><location><size> */
/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote, .media { margin: 10px; }

h1, h2, h3, h4, h5, h6, img { padding-bottom: 0px; }

pre { margin: 10px; }

table h1, table h2, table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl { padding: 0; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
xs,s,m,l,n = extra small(3px),small(5px),medium(10px),large(20px),none(0px)
*/
.ptn, .pvn, .pan { padding-top: 0px !important; }

.ptxs, .pvxs, .paxs { padding-top: 3px !important; }

.pts, .pvs, .pas { padding-top: 5px !important; }

.ptm, .pvm, .pam { padding-top: 10px !important; }

.ptl, .pvl, .pal { padding-top: 20px !important; }

.prn, .phn, .pan { padding-right: 0px !important; }

.prxs, .phxs, .paxs { padding-right: 3px !important; }

.prs, .phs, .pas { padding-right: 5px !important; }

.prm, .phm, .pam { padding-right: 10px !important; }

.prl, .phl, .pal { padding-right: 20px !important; }

.pbn, .pvn, .pan { padding-bottom: 0px !important; }

.pbxs, .pvxs, .paxs { padding-bottom: 3px !important; }

.pbs, .pvs, .pas { padding-bottom: 5px !important; }

.pbm, .pvm, .pam { padding-bottom: 10px !important; }

.pbl, .pvl, .pal { padding-bottom: 20px !important; }

.pln, .phn, .pan { padding-left: 0px !important; }

.plxs, .phxs, .paxs { padding-left: 3px !important; }

.pls, .phs, .pas { padding-left: 5px !important; }

.plm, .phm, .pam { padding-left: 10px !important; }

.pll, .phl, .pal { padding-left: 20px !important; }

.mtn, .mvn, .man { margin-top: 0px !important; }

.mtxxs { margin-top: 1px !important; }

.mtxs, .mvxs, .maxs { margin-top: 3px !important; }

.mts, .mvs, .mas { margin-top: 5px !important; }

.mtm, .mvm, .mam { margin-top: 10px !important; }

.mtl, .mvl, .mal { margin-top: 20px !important; }

.mrn, .mhn, .man { margin-right: 0px !important; }

.mrxs, .mhxs, .maxs { margin-right: 3px !important; }

.mrs, .mhs, .mas { margin-right: 5px !important; }

.mrm, .mhm, .mam { margin-right: 10px !important; }

.mrl, .mhl, .mal { margin-right: 20px !important; }

.mbn, .mvn, .man { margin-bottom: 0px !important; }

.mbxs, .mvxs, .maxs { margin-bottom: 3px !important; }

.mbs, .mvs, .mas { margin-bottom: 5px !important; }

.mbm, .mvm, .mam { margin-bottom: 10px !important; }

.mbl, .mvl, .mal { margin-bottom: 20px !important; }

.mln, .mhn, .man { margin-left: 0px !important; }

.mlxs, .mhxs, .maxs { margin-left: 3px !important; }

.mls, .mhs, .mas { margin-left: 5px !important; }

.mlm, .mhm, .mam { margin-left: 10px !important; }

.mll, .mhl, .mal { margin-left: 20px !important; }

.mva { margin: auto 0; }

.mha { margin: 0 auto; }

.mls-neg { margin-left: -5px !important; }

.mrs-neg { margin-right: -5px !important; }

/* footer margin right */
.fmr { margin-right: 4px; }

/**  Data Table  Allows you to align various table cells so that the alignment class can be placed on either the table, table row, or table cell  Cell takes precedence over table row and table Table row takes precedence over table */
.data { position: relative; zoom: 1; vertical-align: top; text-align: left; /*border-right:solid 1px transparent;*/ /* border fixes a FF2 bug which causes the data table to overlay its borders*/ }

.ie6 .data { position: static; }

/* IE6 */
.data table { width: 100%; /*table-layout:fixed;*/ }

th, td { vertical-align: top; }

/* horizontal alignment */
.txtC, table .txtC td, table .txtC th, .data .txtC th, .data .txtC td { text-align: center; }

.txtL, table .txtL td, table .txtL th, .data .txtL th, .data .txtL td { text-align: left; }

.txtR, table .txtR td, table .txtR th, .data .txtR th, .data .txtR td { text-align: right; }

/* vertical alignment */
.txtT, table .txtT td, table .txtT th, .data .txtT th, .data .txtT td { vertical-align: top; }

.txtB, table .txtB td, table .txtB th, .data .txtB th, .data .txtB td { vertical-align: bottom; }

.txtM, table .txtM td, table .txtM th, .data .txtM th, .data .txtM td { vertical-align: middle; }

.data th, .data td { padding: 5px; }

.imgC { margin: 0 auto; }

.clearfix { overflow: hidden; *zoom: 1; }
