<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 	 ]>    <html class="ie" lang="en"> <![endif]-->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<html>
<head>
    {{ theme:partial name="metadata" }}
</head>
<body>
	<!--header-->
	{{ theme:partial name="header" }}
	<!--//header-->
	
	<!--slider-->
	{{ template:partial name="home_slider" }}
	<!--//slider-->
	
	<!--search-->
	{{ template:partial name="search" }}
	<!--//search-->
	
	<!--main-->
	<div class="main" role="main">
		{{ template:body }} 
	</div>
	<!--//main-->
	
	<!--footer-->
	{{ theme:partial name="footer" }}
	<!--//footer-->
	<script>
		// Initiate selectnav function
		selectnav();
	</script>
</body>
</html>